<!-- <router-outlet></router-outlet>    
<div class="row">
  <div class="col-xs-12">
    <a routerLink="/signin">Signin</a>
    <a routerLink="/register">Sign Up</a>
  </div>
</div> -->

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/landing"  class="navbar-brand">Home</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/signin">Login</a></li>
                <li routerLinkActive="active">
                    <a routerLink="/register">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>