<!-- The content below is only a placeholder and can be replaced.
<app-header ></app-header>
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
  <router-outlet></router-outlet>
</div> -->

<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- <app-my-nav></app-my-nav> -->
