<!-- <div id="login">
  <form>
    <h1>Sign In</h1>
    <input type="text" placeholder="Username" />
    <input type="password" placeholder="Password" />
    <button type="submit" routerLink="profile/basic-info">Sign in</button>
  </form>
</div>
<router-outlet></router-outlet>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          -->
<head>
  <title>PeopleChain Home</title>
</head>

<body id="body" (load)="onChromeLoad()">
  <header class="header" id="your-element-selector">
    <div class="home-container">
      <div class="full_width header_row">
        <div class="logo">
          <img src="../../assets/public/assets/images/pc_logo.svg" class="logo">
        </div>
        <div class="pc_menu_col">
          <a routerLink="/signin"><button class="login_btn">Login</button></a>
          <ul class="pc_menu">
            <a routerLink="/register"><li>Register</li></a>
          </ul>
        </div>
      </div>
      <div class="full_width">
        <div class="banner_left">
          <img src="../../assets/public/assets/images/Thalaivar new.svg" class="" />
        </div>
        <div class="banner_right">
          <h5 class="digital_resume">
            The World's most <b>Rewarding</b> <br />
            Online Resume
          </h5>
          <p class="">
            Have you ever made money from your resume? Now you can! Create and
            own your Verified Resume on BlockChain and get Incentivized
            everytime you're Hired for a Job or Gig
          </p>
          <div class="full_width">
            <a routerLink="/register"><button class="login_btn watch_btn">Create Yours Now</button></a>
            <div class="watch_next">
              <img src="../../assets/public/assets/images/watch_icon.svg">
              <span>Watch How It Works</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

</body>




