.extension_container {
    margin: 0px;
    width: 100%;
    padding: 10px 50px;
    box-sizing: border-box;
    float: left;
}

.full_width {
    float: left;
    width: 100%;
}

.extension_head {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 30px;
    color: rgba(16, 16, 16, 1);
    margin: 0px;
    opacity: 0.9;
}

.extension_head small {
    font-size: 14px !important;
    opacity: 0.3;
}

.extension_col {
    float: left;
    width: 100%;
    margin-top: 20px;
}

.extension_img {
    float: left;
    width: 84px;
}

.extension_img img {
    width: 100%;
    float: left;
    height: 103px;
}

.extension_info_col {
    float: left;
    width: calc(100% - 140px);
    margin-left: 40px;
}

.extension_text {
    float: left;
    width: 100%;
    color: rgba(16, 16, 16, 1);
    opacity: 0.6;
    line-height: 26px;
    margin: 4px 0px 0px 0px;
    font-size: 16px
}

.extension_info_col img {
    width: 61px;
}

.title {
    float: left;
    width: 100%;
    text-align: center;
    color: rgba(16, 16, 16, 1);
    opacity: 0.65;
    font-size: 24px;
    margin-top: 20px;
}

.extension_slider {
    float: left;
    width: 100%;
    margin-top: 5px;
}

.extension_slider .carousel-caption h3 {
    color: rgba(16, 16, 16, 1);
    opacity: 0.6;
    font-size: 18px;
    line-height: 16px;
    float: left;
    width: 100%;
}

.carousel-inner {
    float: left;
    width: 100%;
    overflow: unset;
}

.extension_slider .carousel-caption p {
    float: left;
    width: 100%;
    font-size: 14px;
    color: rgba(16, 16, 16, 1);
    line-height: 14px;
    margin-top: 10px;
}

.extension_slider .carousel-item {
    margin: 0px;
}

.extension_slider .carousel {
    float: left;
    width: 100%;
}

.extension_slider .carousel-indicators li {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: unset;
    background: rgba(16, 16, 16, 1);
    opacity: 0.2
}

.extension_slider .carousel-indicators .active {
    background: rgba(84, 19, 187, 1);
    opacity: 1
}

.extension_slider .carousel-indicators {
    top: 115px;
}

.extension_slider .carousel-caption {
    position: unset;
}

.extension_slider .carousel-control-next, .extension_slider .carousel-control-prev {
    font-size: 18px;
    color: rgba(16, 16, 16, 1);
    top: -280px;
}

.extension_slider .carousel-caption img {
    width: auto;
    height: 49px;
    margin: 0px auto
}

.extension_slider .carousel-caption p {
    float: left;
    width: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    opacity: 0.7
}

.extension_slider .carousel-caption {
    width: 100%;
    margin: 0px auto;
    display: block;
    background: #ffffff;
    height: 100px;
    padding: 5px;
    text-align: center;
}

.extension_slider .slide_inf {
    float: left;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    color: rgb(131, 128, 128);
    margin: 50px 0px 25px 0px;
    text-align: center;
    padding: 0px 50px;
}

.install_btn {
    width: 190px;
    height: 50px;
    margin: 0px auto;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    background: #7C6CE6;
    border: 1px solid #7C6CE6;
    border-radius: 25px;
    font-weight: bold;
    display: block;
    cursor: pointer;
}

.time_duration {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 20px;
    opacity: 0.3;
    color: rgba(16, 16, 16, 1);
    margin-top: 20px;
}

.slide_inf span {
    opacity: 1;
    color: #7C6CE6;
}

.check_icon {
    color: #ffffff;
}

.extension_slider .bx-wrapper {
    border: none;
    box-shadow: none
}

.installed_btn {
    background: #1EB364;
    border: 1px solid #1EB364;
}

.extension_slider .bx-wrapper .bx-pager {
    bottom: 150px;
}

.extension_slider .bx-wrapper {
    margin-bottom: 0px;
}

.extension_slider .bx-wrapper .bx-controls-direction a {
    top: 14%
}

.extension_slider .bx-wrapper .bx-pager.bx-default-pager a {
    background: rgba(16, 16, 16, 1);
    opacity: 0.2;
    margin: 0px 12px;
}

.extension_slider .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: rgba(84, 19, 187, 1);
    opacity: 1
}

.extension_slider .bx-wrapper .bx-next {
    background: url(../images/right.svg) no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
}

.extension_slider .bx-wrapper .bx-prev {
    background: url(../images/left.svg) no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
}

.modal-dialog1 {
    max-width: 600px !important;
    /* height: 650px !important; */
}

#chromeModal {
    max-height: 750px !important;
}

#reviewModal {
    max-height: 750px !important;
}

#chromeModal .modal-open .modal {
    overflow-y: hidden !important;
}
#chromeModal .extension_slider .bx-viewport {
    min-height: auto !important;
}
#chromeModal .extension_container {
    padding-top: 30px;    
}
@media only screen and (min-width: 1024px) and (max-width: 1399px) {
    .extension_container {
        padding: 30px 25px 10px;
    }
    #passwordModal .extension_container {
        padding: 20px 50px 10px;
    }
    .extension_slider .slide_inf {
        font-size: 16px;
    }
    
}
