.extension_head1 {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    color: rgba(16, 16, 16, 1);
    margin: 0px;
    opacity: 0.9;
    font-weight: normal;
    margin-bottom: 10px;
}

.extension_head1 small {
    font-size: 16px;
    opacity: 0.3;
}

.extension_logo1 {
    width: 84px;
    height: 103px;
    margin: 0px auto 20px;
    display: block
}

.pc_info1 {
    float: left;
    width: 100%;
    font-size: 14px;
    line-height: 26px;
    color: rgba(16, 16, 16, 1);
    margin: 0px 0px 15px 0px;
    text-align: center;
    font-weight: normal;
}

.extension_row1 {
    float: left;
    width: 100%;
}

.extension_col1 {
    float: left;
    width: 46%;
    text-align: center;
    box-shadow: 0 0 9px 3px rgba(0, 0, 0, 0.04);
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    margin-right: 20px;
    margin-bottom: 30px;
}

.extension_col1 p {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
    float: left;
    width: 100%;
    color: rgba(0, 0, 0, 1)
}

.extension_col1 img {
    width: 40px;
    margin: 0px auto;
    display: block;
}

.login_icon1 {
    width: 24px;
    height: 24px;
}

.form-control {
    height: 54px;
    color: #ffffff
}

.input-group-append {
    background: #7C6CE6;
    color: #ffffff
}

.btn-outline-secondary {
    color: #ffffff;
    font-size: 20x !important;
    position: relative !important;
    padding: 0px 35px;
    border-radius: 4px !important;
}

.btn-outline-secondary:hover {
    background: unset !important;
}

.login_img1 {
    position: absolute;
    right: 6px;
    top: 9px;
}
.upload_kit_btn {

}
.review_info small {
    font-size: 12px !important;
}