html, body {
  font-family: 'Poppins', sans-serif !important;
}

.extension_head small {
  font-size: 16px;
}

.pc_logo_haeder {
  width: 27px;
  height: 39px;
  margin-right: 10px;
}

.shield {
  color: #290684
}

.review_box {
  box-shadow: 0 0 9px 3px rgba(0, 0, 0, 0.04);
  width: 195px;
  margin: 0px auto;
  display: block;
  height: 100px;
  padding: 10px;
  box-sizing: border-box
}

.review_title {
  font-size: 18px;
  float: left;
  margin-top: 5px;
  width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.review_box img {
  margin: 0px auto;
  width: 40px;
}

.qr_icon {
  width: 148px;
  margin: 0px auto;
  display: block;
  margin: 30px auto 25px;
}

.review_info {
  width: 100%;
  float: left;
  font-size: 18px;
  line-height: 26px;
  color: #6c757d;
  text-align: center;
  margin: 0px 0px 30px;
}

.next_btn {
  width: 45%;
  height: 50px;
  margin: 0px auto;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  background: #7C6CE6;
  border: 1px solid #7C6CE6;
  border-radius: 4px;
  font-weight: bold;
  display: block;
  cursor: pointer;
  border-radius: 25px;
}

.extension_slider {
  float: left;
  width: 100%
}

.extension_slider .bx-wrapper {
  float: left;
  width: 100%;
  border: unset;
  box-shadow: unset
}

.review_head {
  margin-bottom: 20px;
  font-size: 26px;
  color: #6c757d;
  font-weight: normal;
  text-align: center
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: rgba(16, 16, 16, 1) !important;
  opacity: 0.26;
  margin: 0px 12px;
}

.bx-wrapper .bx-pager.bx-default-pager a.active {
  background-color: rgba(84, 19, 187, 1) !important;
  opacity: 1
}

.extension_slider .bx-wrapper .bx-prev {
  display: none
}

.extension_slider .bx-wrapper .bx-pager {
  top: 100px;
  bottom: unset;
}

.extension_slider .bx-wrapper .bx-next {
  display: none
}

.secure_key_box {
  border: 1px solid #cccccc;
  float: left;
  height: 50px;
  font-size: 14px;
  padding: 15px 20px;
  width: 100%;
  border-radius: 4px;
  margin: 30px 0px 20px;
  box-sizing: border-box;
}

.key_text {
  float: left;
  width: 100%;
  text-align: center;
  color: #212529;
  font-size: 16px;
}

.key_note {
  float: left;
  width: 100%;
  text-align: center;
  color: #FD5E00;
  font-size: 16px;
  line-height: 20px;
}

.download_btn {
  /* float: left;
  background: #1EB364;
  border: 1px solid #1EB364; */
}

.continue_text {
  float: right;
  color: rgba(16, 16, 16, 1);
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
  margin-top: 15px;
  margin-right: 95px;
  opacity: 0.8;
}

.thumb_icon {
  width: 139px;
}

/* steps */

.step {
  position: relative;
  min-height: 1em;
  color: gray;
}

.step+.step {
  margin-top: 40px;
}

.step>div:first-child {
  position: static;
  height: 0;
}

.step>div:not(:first-child) {
  margin-left: 80px;
  padding-left: 10px;
  font-size: 20px;
  color: #6c757d;
  font-weight: normal;
  line-height: 26px;
}

.step.step-active {
  color: #4285f4
}

.step.step-active .circle {
  background-color: #fff;
}

/* Circle */

.circle {
  position: relative;
  width: 60px;
  height: 60px;
  line-height: 1.5em;
  border-radius: 100%;
  color: #fff;
  text-align: center;
  box-shadow: 0 0 0 3px #fff;
  float: left;
}

/* Vertical Line */

.circle::after {
  content: ' ';
  position: absolute;
  display: block;
  top: 1px;
  right: 50%;
  bottom: 1px;
  left: 50%;
  height: 100%;
  width: 1px;
  transform: scale(1, 2);
  transform-origin: 50% -100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: -1;
}

.step:last-child .circle::after {
  display: none
}

/* Stepper Titles */

.title {
  line-height: 1.5em;
  font-weight: normal;
}

.caption {
  font-size: 0.8em;
}

/* end  */

.step_icon {
  float: left;
  width: 60px;
}

.step_info {
  float: left;
  width: 100%;
  font-size: 16px;
  font-weight: normal;
  color: #212529;
  line-height: 22px;
}

.fourth_circle::after {}

.first_circle::after {}

.second_circle::after {
  height: 71%;
  top: 0px;
}

.third_circel::after {
  top: 54px;
  height: 32%;
}

.check {
  position: absolute;
  color: #1EB364;
  font-size: 28px;
  display: none;
}

.pcheck {
  top: 32px;
  right: 0px;
}

.dcheck {
  right: 20px;
  top: -20px;
  font-size: 18px;
}

.tcheck {
  top: -24px;
  font-size: 18px;
  right: 22px;
}

.gcheck {
  right: 20px;
  font-size: 18px;
  top: -15px;
}

.thankyou_block {
  float: left;
  width: 100%;
  padding: 0px 30px;
}

.thankyou_text {
  color: #6c757d;
  margin-top: 20px;
  font-size: 28px;
}

.verify_icon {
  width: 180px;
  margin: auto;
  display: block;
}

.thank_info {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  color: #424242;
  font-weight: normal;
  margin: 20px 0px 10px;
  opacity: 0.8;
}

.loader_iocn {
  width: 50px;
  font-size: 50px;
  margin: auto;
  display: block;
  color: #6c757d;
}

.loader_info {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  color: #6c757d;
  font-weight: normal;
  margin: 20px 0px 15px;
}

.extension_head3 {
  text-align: center;
  margin-bottom: 10px;
}

.stepper_info_col .title {
  float: left;
  width: 100%;
  text-align: left;
  font-size: 18px;
  font-weight: normal !important;
  color: #424242;
}

.sk-circle {
  margin: 100px auto 15px;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #7C6CE6;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.download_col {
  margin-bottom: 20px;
}

.bx-viewport {}

@media only screen and (min-width: 1024px) and (max-width: 1399px) {
  .qr_icon {
    width: 100px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .review_info {
    font-size: 15px;
  }
  .extension_slider .bx-viewport {
    min-height: 450px !important;
  }
  .secure_key_box {
    margin-top: 30px;
    height: 50px;
    padding: 15px 20px;
    margin-bottom: 20px;
  }
  .review_head {
    font-size: 24px;
  }
}

.summery_list_menu {
  float: left;
  width: 100%;
  margin: 0px;
  margin-bottom: 20px;
  list-style: unset;
  padding-left: 50px;
}

.summery_list_menu li {
  float: left;
  width: 100%;
  padding-left: 0px;
  font-size: 15px;
  line-height: 38px;
  color: #424242;
  opacity: 0.8;
}

.summery_list_menu li b {
  font-weight: 600 !important;
}
#thankyou_block .thankyou_text {
  margin-top: 0px;
}
.thank_info b {
  font-weight: 600 !important;
}
#reviewModal .modal-dialog1 {
  max-width: 550px !important;
}