html,body {
    width: 100%;
    height: 100%;
    float: left;
    font-size: 14px;
    line-height: 14px;
    color: #3a4451;
    background: #ffffff;
    left: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif !important;
}
.full_width {
    float: left;
    width: 100%;
}
hedaer {
    float: left;
    width: 100%;
}
ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
p {
    margin: 0px;
}
button {
    border: none;
}
button:focus {
    border: none;
}
.home_container {
    width: 1180px;
    display: block;
    margin: 0px auto;
}
.logo {
    float: left;
    width: auto;
}
.logo img {

}
.footer {
    float: left;
    background: url('../images/footer_banner.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50%;
}
.header {
    position: relative;
    float: left;
    background: url('../images/header_banner.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}
.section {
    float: left;
    background: url('../images/header_banner.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}
.header_row {
    padding: 45px 0px;
}
.pc_menu_col {
    float: right;
    width: auto;
}
.pc_menu {
    float: left;
    width: auto;
    margin: 0px;
}
.pc_menu li {
    float: left;
    width: auto;
    padding: 0px 18px;
    font-size: 16px;
    line-height: 38px;
    color: #ffffff;
    cursor: pointer;
}
.pc_menu li a {
    color: #fff;
    text-decoration: none;
}
.pc_menu li:last-child {
    margin-right: 30px;
    text-transform: uppercase;
}
.login_btn {
    background: #ffffff;
    border-radius: 6px;
    height: 36px;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    color: #141b2c;
    width: 90px;
    float: right;
    cursor: pointer;    
}
.login_btn:focus {
    outline: none;
}
.overlay {
    display: none;
}
.opennav {
    display: none;
    float: right;
    color: #ffffff;
}
.banner_left {
    float: left;
    width: 55%;
}
.banner_left img {
    float: left;
    width: 100%;
    /* padding: 80px 80px 0px 0px; */
    padding: 10px;
    position: relative;
    top: 54px;
    right: 45px;
}
.banner_right {
    float: right;
    width: 45%;
    margin-top: 100px;
}
.jobque_text {
    float: left;
    width: 100%;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 600;
}
.digital_resume {
    float: left;
    width: 100%;
    font-size: 32px;
    line-height: 60px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 45px;
}
.watch_btn {
    width: 220px;
    float: left;
    color: #4d54fc;
    font-weight: 600;
    font-size: 17px;
}
.watch_text {
    float: right;
    width: 50%;
}   
.watch_text img {
    float: left;
    margin-right: 10px;
    cursor: pointer;
}
.watch_text span {
    float: left;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    line-height: 30px;
}
.pc_text {
    font-size: 55px;
    float: left;
    width: auto;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 1px;
    color: #141b2c;
}
.pc_info {
    font-size: 25px;
    float: left;
    width: 100%;
    font-weight: normal;
    line-height: 30px;
    color: #3a4451;
    margin-top: 25px;
    margin-bottom: 45px;

}
.pc_row {
    float: left;
    width: 100%;
}
.pc_col {
    float: left;
    width: 31%;
    margin-right: 30px;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    height: 332px;
    margin-bottom: 30px;
}
.pc_col:nth-child(3n) {
    margin-right: 0px;
}
.pc_col:last-child {
    margin-right: 0px;
}
.pc_col img{
    float: left;

}
.pc_col .resume {
    width: 62px;
}
.pc_head {
    float: left;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    color: #3a4451;
    margin-top: 25px;
    margin-bottom: 10px;
}
.pc_content {
    float: left;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    color: #3a4451;
    opacity: 0.5;
    line-height: 24px;
    text-align: left;
}
.pc_cntent_col {
    float: left;
    width: 520px;
    border-radius: 6px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
    padding: 50px;
    height: 620px;
}
.pc_cntent_col:last-child {
    float: right;
}
.pc_cntent_col img{
    margin: 0px auto;
    width: 226px;
    display: block;
}
.pc_cntent_col .pc_head {
    margin: 45px 20px;
    text-align: center;
}
.pc_cntent_col .pc_content {
    text-align: center;
}
.title {
    float: left;
    width: 100%;
    font-size: 40px;
    font-weight: 600;
    color: #141b2c;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}
.info {
    float: left;
    width: 100%;
    font-size: 25px;
    font-weight: normal;
    color: #141b2c;
    text-align: center;
    opacity: 0.6;
}
.pc_support_block .nav-tabs {
    border-bottom: none;
    width: 930px;
    margin: 0px auto;
}
.support_left {
    float: left;
    width: 60%;
}
.support_right {
    float: right;
    width: 40%;
}
.pc_support_block .nav-tabs li a{
    border: none;
    padding: 20px 50px;
    font-size: 16px;
    color: #424242;
    font-weight: normal;
    float: left;
    text-decoration: none;
}
.pc_support_block .nav-tabs li a:hover {
    text-decoration: none;
}
.pc_support_block .nav-tabs .nav-link.active {
    border-radius: 5px;
    box-shadow: 0 10px 50px 0 rgba(91, 85, 249, 0.12);
    background-color: #ffffff;
    padding: 20px 50px;
    color: #333333;
    font-weight: 600;
}
.pc_support_block .ui-tabs-active {
    border-radius: 5px;
    box-shadow: 0 10px 50px 0 rgba(91, 85, 249, 0.12);
    background-color: #ffffff;
    /* padding: 20px 50px; */
    color: #333333;
    font-weight: 600;
    float: left;
}
.pc_support_block .ui-tabs-panel {
    float: left;
    width: 100%;
    margin-top: 50px;
}
.pc_support_block .nav-tabs .nav-item.show .nav-link, {
    padding: 20px 50px;
}
.pc_support_block .tab-content {
    float: left;
    width: 100%;
    margin-bottom: 45px;
    margin-top: 45px;
}
.support_right img {
    float: right;
    width: 316px;

}
.pc_support_block .title {
    font-size: 27px;
    line-height: 34px;
    text-align: left;
}
.pc_support_block .info {
    font-size: 20px;
    opacity: 0.8;
    line-height: 40px;
    text-align: left;
    margin-bottom: 30px;
    color: #3a4451;
    letter-spacing: 1px;

}
.pc_support_block .watch_btn {
    border: 2px solid #4d54fc;
    height: 47px;
}
.your_data {
    float: left;
    width: 100%;
    font-size: 20px;
    opacity: 0.9;
    text-align: center;
    line-height: 42px;
    color: #3a4451;
    letter-spacing: 1px;
}
.data_img {
    float: left;
    width: 100%;
    margin-top: 20px;
}
.mobile_banner_right {
    display: none;
    float: left;
    width: 100%;
}
.bio_dat_left {
    float: left;
    width: 60%;
}
.bio_data_right {
    float: right;
    width: 40%;
}
.bio_data_right img {
    float: left;
    width: 100%;
    padding-left: 20px;
    height: 540px;
}
.proile_name {
    font-size: 30px;
    float: left;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #141b2c;
    margin-bottom: 10px;
    margin-top: 15px;
}
.designation {
    font-size: 18px;
    float: left;
    width: 100%;
    text-align: center;
    font-weight: normal;
    color: #141b2c;
    line-height: 30px;
    opacity: 0.6;
}
/* slider css */
div#carousel { 
    /* perspective: 1200px;  */
    /* background: #100000;  */
    padding-top: 10%; 
    font-size:0; 
    margin-bottom: 3rem; 
    overflow: hidden; 
    rotation-point:50% 50%;
    rotation:180deg;
  }
  figure#spinner { 
    transform-style: preserve-3d; 
    height: 385px; 
    transform-origin: 50% 50% -500px; 
    transition: 1s; 
  } 
  figure#spinner .img_col { 
    width: 250px; 
    position: absolute; left: 30%;
    transform-origin: 50% 50% -500px;
    outline:1px solid transparent; 
  }
  figure#spinner .img_col img {
      float: left;
      width: 100%;
      height: 250px;
      border-radius: 50%;
        border: 1px solid #4d54fc;
  }
  figure#spinner .img_col:nth-child(1) { transform:rotateY(0deg); 
  }
  figure#spinner .img_col:nth-child(2) { transform: rotateY(-45deg); }
  figure#spinner .img_col:nth-child(3) { transform: rotateY(-90deg); }
  figure#spinner .img_col:nth-child(4) { transform: rotateY(-135deg); }
  figure#spinner .img_col:nth-child(5){ transform: rotateY(-180deg); }
  figure#spinner .img_col:nth-child(6){ transform: rotateY(-225deg); }
  figure#spinner .img_col:nth-child(7){ transform: rotateY(-270deg); }
  figure#spinner .img_col:nth-child(8){ transform: rotateY(-315deg); }
  div#carousel ~ span { 
    color: #fff; 
    margin: 5%; 
    display: inline-block; 
    text-decoration: none; 
    font-size: 2rem; 
    transition: 0.6s color; 
    position: relative; 
    margin-top: -6rem; 
    border-bottom: none; 
    line-height: 0; }
  div#carousel ~ span:hover { color: #888; cursor: pointer; }
  .ss-icon {
      color: #4d54fc !important;
  }

/* end  */
/* banner */
.banner_row {
    float: left;
    width: 100%;
    background: #356ad2;
    padding: 20px 40px;
    position: relative;
    box-sizing: border-box;
}
.banner_row p {
    float: left;
    width: auto;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
    font-weight: 600;
    margin: 0px;
    z-index: 1;
    margin-right: 20px;
    margin-top: 7px;
}
.close_banner {
    position: absolute;
    right: 20px;
    top: 15px;
    color: #c14745;
    cursor: pointer;
    font-size: 20px;
    width: auto;
    z-index: 99;
}
.addto_btn {
    float: left;
    width: auto;
    border-radius: 15px;
    background: #fff;
    border: 1px solid #ffffff;
    color: #424242;
    text-align: center;
    padding: 5px 10px;
    cursor: pointer;
}
.pc_support_block {
    margin-top: 30px;
}
/***************** media quries for mobile devices *************/
@media only screen and (max-width: 767px) {
     /************************ mobile menu navigation css ****************/
     .overlay {overflow-y: auto;}
     .overlay a {font-size: 20px;display: block;}
     .overlay .closebtn {
     font-size: 40px;
     top: 15px;
     right: 35px;
     }
 
     .overlay {
         height: 0%;
         width: 100%;
         position: fixed;
         z-index: 1;
         top: 0;
         left: 0;
         background-color: rgb(0,0,0);
         background-color: rgba(0,0,0, 0.9);
         overflow-y: hidden;
         transition: 0.5s;
         display: block;
       }
       
       .overlay-content {
         position: relative;
         top: 10%;
         width: 100%;
         text-align: center;
         margin-top: 30px;
       }
       
       .overlay a {
         padding: 8px;
         text-decoration: none;
         font-size: 36px;
         color: #818181;
         display: block;
         transition: 0.3s;
       }
       
       .overlay a:hover, .overlay a:focus {
         color: #f1f1f1;
       }
       
       .overlay .closebtn {
         position: absolute;
         top: -12px;
         right: 10px;
         font-size: 50px;
       }
       .demo_form {
           width: 100%;
           padding: 10px;
       }
       .demo_form_block {
           position: unset;
           padding: 20px 0px;
       }
       .send_btn {
           width: 100%;
       }
       .demo_head {
           font-size: 30px;
           line-height: 40px;
           margin-top: 30px;
           margin-bottom: 10px;
       }
       .demo_info {
           font-size: 16px;
       }
       .demo_banner, .thankyou_banner {
           height: auto;
       }
       .thankyou_banner .demo_head {margin-top: 20px;}
       .back_to {margin-top: 20px;margin-bottom: 20px}
       .pc_menu_col {
           display: none;
       }
       .pc_menu {
           width: 100%;
       }
       .login_btn {
           display: none;
       }
       .home_container {
           width: 90%;
       }
       .header {
           height: 28%;
           background-size: 100%;
       }
       .header_row {
           padding: 10px 0px;
       }
       .opennav {
           display: block;
       }
       .pc_menu li {
           width: 100%;
       }
     /******************* end  ********************/
     .logo img {
         margin-top: 10px;
     }
     .pc_col {
         width: 100%;
     }
     .pc_text {font-size: 38px;line-height: 50px;width: 100%;}
     .pc_support_block .nav-tabs {
         width: 100%
     }
     .support_left, .support_right {width: 100%;}
     .pc_cntent_col {width: 100%;padding: 10px;height: auto}
     .mobile_banner_right {display: block;padding: 0px 15px;}
     .banner_right, .banner_left {display: none;}
     .pc_support_block .title {
         font-size: 20px;
         text-align: center;
         margin-top: 0px;
     }
     .pc_support_block .info {font-size: 14px;line-height: 30px;text-align: center;}
     .pc_cntent_col:last-child {margin-top: 20px;}
     .mobile_banner_right .jobque_text {color: #3a4451;text-align: center;margin-top: 20px;}
     .mobile_banner_right .digital_resume {color: #3a4451;text-align: center;font-size: 28px;line-height: 36px;}
     .mobile_banner_right .watch_btn {width: 100%;display: block;border: 2px solid #4d54fc;}
     .mobile_banner_right .watch_text span {width: 100%;color: #3a4451;text-align: center;}
     .watch_text {width: 100%}
     .footer {height: 27%;margin-top: 25px;}
     .pc_info {font-size: 20px;margin: 15px 0px;}
     .title {font-size: 30px;}
     .pc_cntent_col .pc_head {margin: 20px 0px;}
     .bio_dat_left {width: 100%;display: none;}
     .bio_data_right {width: 100%}
     .bio_data_right img {padding-left: 0px;}
     .support_right img {width: 100%;}
     .pc_support_block .ui-tabs-tab {
         float: left;
         width: 100%;
         text-align: center;
     }
     .pc_support_block .nav-tabs li a {padding: 20px;text-align: center;width: 100%;}
}

/* media quries for ipad  */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .header {height: 44%;}
    .home_container {width: 100%;padding: 0px 24px;}
    .banner_left {width: 50%}
    .banner_right {width: 47%;margin-top: 60px;}
    .pc_cntent_col {width: 100%}
    .pc_cntent_col:last-child {margin-top: 25px;}
    .pc_col {width: 50%;margin-bottom: 20px;margin-right: 0px;}
    .footer {height: 40%;}
}

