[ng\:cloak],
[ng-cloak],
.ng-cloak {
    display: none !important;
}

html,
body {
    float: left;
    width: 100%;
    height: 100%;
    left: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    /* background-color: rgba(248, 248, 248, 0.6) !important; */
    font-size: 14px;
    line-height: 14px;
    background: #ffffff;
    font-family: 'Poppins', sans-serif !important;
}

small {
    font-size: 9px !important;
}

.full_width {
    float: left;
    width: 100%;
}

::-webkit-input-placeholder {
    /* Chrome */
    color: red;
    transition: opacity 250ms ease-in-out;
}

 :focus::-webkit-input-placeholder {
    opacity: 0.5;
}

 :-ms-input-placeholder {
    /* IE 10+ */
    color: red;
    transition: opacity 250ms ease-in-out;
}

 :focus:-ms-input-placeholder {
    opacity: 0.5;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    color: red;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}

 :focus::-moz-placeholder {
    opacity: 0.5;
}

 :-moz-placeholder {
    /* Firefox 4 - 18 */
    color: red;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}

 :focus:-moz-placeholder {
    opacity: 0.5;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

header {
    padding: 10px 30px;
    float: left;
    width: 100%;
    box-shadow: 0 2px 12px 1px rgba(153, 153, 153, 0.3);
    background: #ffffff;
}

.pc_logo {
    float: left;
    width: 118px;
    margin-top: 5px;
}

.banner_col {
    background-image: url('../images/banner_bg.png');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.banner_col img {
    margin-left: 60px;
    margin-top: 115px;
}

.pc_logo img {
    float: left;
    width: 100%;
    height: 22px;
    margin-top: 6px;
}

.profile_bg_color {
    /* background: rgba(248, 248, 248, 0.6); */
    background: #fcfcfc;
}

.user_check {
    margin-left: 18px;
    font-size: 20px;
    line-height: 20px;
    color: #424242;
}

.user_check img {
    margin-right: 10px;
}

.signup_form {
    /* float: left; */
    width: 520px;
    margin: 100px auto 0px;
    /* margin-top: 100px; */
    position: relative;
    display: block;
    /* padding-right: 20px; */
    left: -40px;
}

.title {
    font-size: 30px;
    line-height: 32px;
    color: #424242;
    font-weight: 700 !important;
    float: left;
    width: 100%;
    letter-spacing: 1px;
    margin-bottom: 8px;
    text-align: center;
    margin-top: 10px !important;
}

.info {
    float: left;
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    color: #424242;
    font-weight: normal;
    margin-bottom: 25px;
    text-align: center;
}

.continue_btn {
    width: 330px;
    height: 50px;
    font-size: 25px;
    line-height: 25px;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    background: linear-gradient(-90deg, #9867F4, #7B6CE7);
    border: none;
    cursor: pointer;
    border-radius: 25px;
    margin: 0px auto;
    display: block;
    margin-top: 50px;
    margin-bottom: 10px;
    -webkit-transition: color 600ms;
    transition: color 600ms;
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}

.continue_btn::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 600ms ease-out;
    transition: 600ms ease-out;
    border-radius: 25px;
    color: #624DAA;
}

.skip_btn {
    background: none;
    color: #624DAA;
    border: none;
    font-size: 18px;
    text-decoration: underline;
    width: 100%;
    text-align: center;
    float: left;
    margin-top: 20px;
    cursor: pointer;
}

.skip_btn:hover {}

label {
    font-size: 18px;
}


/* i {
    margin-right: 10px;
    color: #624DAA;
} */

.continue_btn:hover::before {
    /* -webkit-transform: scaleY(1);
    transform: scaleY(1); */
    border-radius: 25px;
    color: #ffffff;
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 0px 2px 0 #7B6CE6;
    opacity: 0;
    transition: opacity 500ms;
}

.continue_btn:focus {
    outline: none
}

.continue_btn:hover {
    color: #fff !important;
    box-shadow: 0 0px 2px 0 #7B6CE6;
    transition: box-shadow 500ms;
}

.username {
    font-size: 24px !important;
    height: 60px !important;
    padding-left: 25px !important;
    margin-bottom: 12px;
    border: 2px solid #624DAA !important;
    /* margin-bottom: 50px; */
    margin-top: 5px;
}

.terms_conditions {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-size: 12px !important;
    line-height: 20px
}

.terms {
    color: #624DAA;
    cursor: pointer;
}


/* profile type */

.profile_type_block {
    width: 500px;
    margin: 0px auto;
    display: block;
}

.profile_type_col {
    float: left;
    width: 220px;
    transition: transform .2s;
    /* height: 220px; */
}

.profile_type_col:hover {
    transform: scale(1.2);
}

.profile_type_col:last-child {
    float: right;
}

.profile_img {
    width: 172px;
    height: 172px;
    margin: 15px auto 0px;
    padding-top: 15px;
    /* padding-bottom: 25px; */
    box-shadow: 1px 5px 20px 3px #ccc;
    cursor: pointer;
    text-align: center;
    position: relative;
    background-color: #fff;
}

.profile_img img {
    width: 106px;
    height: 106px;
    margin: 20px auto 0px;
    display: block;
}

.profile_img .fas {
    font-size: 8rem;
    color: #9c47fc;
    display: block;
    background: -webkit-linear-gradient(#9c47fc, #5413BB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.back_icon {
    position: relative;
    margin-right: 20px;
    cursor: pointer;
}


/* linkedin page css */

.linkedin_bg {
    width: 254px;
    margin: 0px auto;
    display: block;
}

.linked_info {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #797979;
    text-align: center;
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
}


/* Basic Info page css */

.basic_info {
    font-size: 30px;
    line-height: 30px;
    color: #424242;
    font-weight: 700;
    float: left;
    width: 100%;
    padding-left: 40px;
    margin-bottom: 30px;
}

.basic_info img {
    width: 30px;
    position: relative;
    left: -38px;
}

.basic_info_col {
    float: left;
    width: 47%;
    margin-bottom: 15px;
}

.basic_info_col label {
    font-size: 16px;
    line-height: 16px;
    color: #424242;
    float: left;
    width: 100%;
}

.form-control {
    font-size: 18px !important;
    color: #424242 !important;
}

.basic_info_col .form-control {
    /* border: unset; */
    border: solid 1px rgba(153, 153, 153, 0.5);
    border-radius: 4px;
    font-size: 16px;
    color: #424242;
    margin-bottom: 1px;
    /* background: rgba(248, 248, 248, 0.6); */
}

.basic_info_col .form-control:focus {
    box-shadow: unset;
    border-color: unset;
}

.basic_info_row {
    float: left;
    width: 100%;
}

.basic_info_row .basic_info_col:last-child {
    float: right;
}

.basic_info_btn {
    float: left;
}

.change {
    color: #624DAA;
    cursor: pointer;
}

#otp {
    padding-left: 15px;
    letter-spacing: 42px;
    border: 0;
    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 50px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    width: 300px;
    margin: 0px auto;
}

.otp_info {
    font-size: 20px;
    margin-bottom: 30px;
}

.verify_icon {
    width: 108px;
    margin: 0px auto;
    display: block;
}

.verify_success {
    font-size: 14px;
    line-height: 14px;
    color: #424242;
    margin-top: 20px;
}

.resend_col {
    display: block;
    margin: 0px auto;
    /* width: 100px; */
}

.resend_row {
    padding: 0px 120px 0px 100px;
    margin-bottom: 40px;
}

.resend_col:first-child {
    color: #624DAA;
}

.resend_col:first-child img {
    width: 14px;
    margin-right: 10px;
}

.resend_col:last-child {
    /* float: right; */
    cursor: pointer;
    color: #624DAA;
}


/* educational details css */

.educational_container {
    width: 880px;
    margin: 0px auto;
    display: block;
}

.educationsl_details_tab {
    width: 650px;
    margin: 40px auto 0px;
    display: block;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.edu_tab_menu {}

.edu_tab_menu li {
    float: left;
    width: auto;
    font-size: 14px;
    line-height: 22px;
    color: #424242;
    font-weight: normal;
    font-style: normal;
    margin-right: 50px;
    letter-spacing: 0.5px;
}

.edu_tab_menu li span {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: rgba(153, 153, 153, 0.1);
    margin-right: 10px;
    float: left;
    border: 1px solid rgba(153, 153, 153, 0.1);
    cursor: pointer;
}

.edu_tab_menu li span.active {
    border: 1px solid #7c6ce6;
    background: #ffffff;
}

.fa-plus-circle {
    /* color: #7c6ce6; */
}

.sub_title {
    font-size: 24px;
    line-height: 32px;
    color: #424242;
    float: left;
    width: 100%;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 20px;
}

.form_label {
    font-size: 20px;
    line-height: 20px;
    color: #424242;
    float: left;
    width: 100%;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 12px;
}

#educational_form .form-control {
    height: 46px;
    margin-bottom: 2px;
    font-size: 20px;
    color: #424242;
}

#educational_form .form-group {
    height: 90px;
}

.add_new_btn {
    float: right;
    width: 120px;
    margin-top: 0px;
    height: 30px;
    font-size: 16px;
    text-align: left;
    padding: 0px 10px;
}

.form_data {
    float: left;
    /* width: 100%; */
    margin-top: 35px;
    width: 92%;
}

.next_btn {
    width: 227px;
    margin-top: 60px;
}

.skills_btn_col {
    float: left;
    width: 100%;
}

.skill_btn {
    width: auto;
    float: left;
    height: 40px;
    font-size: 15px;
    line-height: 15px;
    color: #ffffff;
    margin-top: 0px;
    padding: 0px 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.suggested_skill_btn {
    width: auto;
    float: left;
    height: 40px;
    font-size: 15px;
    line-height: 15px;
    color: #7c6ce6;
    margin-top: 0px;
    padding: 0px 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    background: #ffffff;
    border: 2px solid #7c6ce6;
    -webkit-transition: color 600ms;
    transition: color 600ms;
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale
}

.suggested_skill_btn::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: 600ms ease-out;
    transition: 600ms ease-out;
    border-radius: 25px;
    color: #7c6ce6;
}

.suggested_skill_btn:hover::before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    border-radius: 25px;
    color: #7c6ce6;
}

.suggested_skill_btn:hover {
    color: #7c6ce6;
    background: #7c6ce6;
}

.current_work {
    font-size: 17px;
    line-height: 17px;
    color: #424242;
    font-weight: normal;
    font-style: normal;
}

.current_work .fa-check-circle {
    color: #7c6ce6;
    cursor: pointer;
}

.custom-control-label {
    line-height: 19px;
    font-size: 17px;
}

.custom-control-label::before {
    top: 2px !important;
}


/* profile page css start */

.profile_container {
    width: 1280px;
    margin: 0px auto;
    display: block;
}

.profile_header_col {
    float: left;
    width: 100%;
    height: 230px;
    margin-top: 36px;
}

.profile_block {
    width: 600px;
    float: left;
    padding: 35px 28px;
    background: #ffffff;
    position: relative;
    height: 100%;
    border-radius: 10px;
}

.scan_profile_block {
    float: left;
    width: 230px;
    /* padding: 15px 8px; */
    background: #ffffff;
    margin: 0px 32px;
    height: 100%;
    border-radius: 10px;
}

.activity_block {
    float: right;
    width: 386px;
    padding: 15px;
    border-radius: 10px;
    height: 100%;
    background: #6f16cb;
    text-align: center;
    color: #fff;
}

.profile_thumb {
    float: left;
    width: 140px;
    height: 148px;
    font-size: 7rem;
    color: #6f16cb;
}

.profile_thumb img {
    width: 110px;
    vertical-align: unset;
    border-radius: 4px;
}

.profile_info_col {
    float: right;
    width: calc(100% - 170px);
}

.profile_name {
    font-size: 20px;
    line-height: 28px;
    color: #333333;
    font-weight: 600;
    font-style: normal;
    float: left;
    width: 100%;
}

.profile_id {
    font-size: 15px;
    line-height: 30px;
    color: #333333;
    font-weight: 100;
    font-style: normal;
    float: left;
    width: 100%;
}

.profile_text {
    font-size: 15px;
    line-height: 30px;
    color: #333333;
    font-weight: 400;
    font-style: normal;
    float: left;
    width: 100%;
}

.profile_check {
    color: #26b999;
}

.profile_num {
    color: #efc41a;
}

.profile_edit {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 16px;
    color: #424242;
    cursor: pointer;
}

.scan_text {
    font-size: 13px;
    line-height: 18px;
    font-style: normal;
    font-weight: normal;
    float: left;
    width: 100%;
    text-align: center;
}

.qr_bg {
    width: 100px;
    height: 100px;
    margin: 0px auto;
    display: block;
}

.qr_btn {
    border: 1px solid #624DAA;
    font-size: 13px;
    line-height: 16px;
    margin-right: 0px;
    height: 25px;
    margin-bottom: 0px;
}

.qr_btn:last-child {
    float: right;
}

.profile_row {
    float: left;
    width: 100%;
    margin-top: 30px;
}

.profile_col {
    float: left;
    width: 32%;
    height: 250px;
    background: #ffffff;
    position: relative;
    box-sizing: border-box;
    padding: 16px 20px;
    margin-bottom: 15px;
    margin-right: 25px;
    border-radius: 10px;
    overflow: hidden;
}

.profile_col:nth-child(3n) {
    margin-right: 0px;
}

.profile_col:hover {
    transform: scale(1.05);
    -webkit-transition: all 300ms;
    -webkit-transform: scale(1.05);
    -ms-transition: all 300ms ease;
    -ms-transform: scale(1.05);
    -moz-transition: all 300ms;
    -moz-transform: scale(1.05);
    transition: all 300ms;
    box-shadow: 0 0 13px 0 rgba(153, 153, 153, 0.13);
}

.profile_col:last-child {
    margin-right: 0px;
    float: left;
}

.profile_add {
    background: #fff;
    float: right;
    font-size: 16px;
    margin-top: 0px;
    width: 120px;
    height: 30px;
    border: 2px solid #6E7BFC;
    margin-bottom: 0px;
    margin-top: 25px;
    color: #6E7BFC;
    font-weight: normal;
}

.profile_add:hover {
    background: #6E7BFC;
    color: #fff;
}

.academic_sec {
    /* margin: 0px 0px 20px 0px; */
}

.doc_thumb {
    float: left;
    width: 55px;
    height: 55px;
    position: relative;
}

.default_thumb {
    float: left;
    width: 60px;
    height: 60px;
    background: #7e6ce7;
    border-radius: 4px;
}

.doc_info_col {
    float: right;
    width: calc(100% - 75px);
}

.doc_thumb img {
    float: left;
    width: 100%;
}

.academic_type {
    float: left;
    width: 100%;
    font-size: 13px;
    line-height: 20px;
    color: #333333;
    font-weight: 100;
    font-style: normal;
}

.academic_cname {
    float: left;
    width: 100%;
    font-size: 15px;
    line-height: 15px;
    color: #333333;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 4px;
}

.academic_title {
    float: left;
    width: 100%;
    font-size: 16px;
    line-height: 16px;
    color: #333333;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 15px;
}

.skill_block {
    padding: 20px 0px 0px 0px;
    /* background: #fff; */
    border-radius: 4px;
}

.profile_status {
    position: absolute;
    top: -12px;
    right: 0px;
    font-size: 18px;
}

.file_upload {
    font-size: 17px;
    color: #6d7bfc;
    float: right;
    width: 100%;
    position: relative;
    top: -21px;
}


/* .file_upload img {
    width: 32px;
    height: 28px;
} */


/* profile page css end */


/* modal custom css */

.modal-dialog {
    max-width: 830px !important;
    /* height: 830px !important; */
}

.custom_modal {
    /* width: 500px;
    margin: 60px auto 10px;
    display: block; */
    float: left;
    width: 100%;
}

.user_thumb {
    width: 108px;
    height: 108px;
    float: left;
    font-size: 5rem;
    color: #6f16cb;
}

.user_thumb img {
    float: left;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.user_info {
    float: right;
    width: calc(100% - 145px);
}

.user_name {
    float: left;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    color: #333333;
    font-style: normal;
    line-height: 40px;
}

.edit_form {
    float: left;
    width: 100%;
    display: block;
    /* margin: 65px 0px; */
}

.add_form {
    width: 500px;
    display: block;
    margin: 65px auto 50px;
}

#aq_doc_sec {
    width: 500px;
    margin: 60px auto 10px;
    display: block;
}

.user_col {
    float: left;
    width: 45%;
}

.user_col:last-child {
    float: right;
}

.form-control {
    height: 50px !important;
}

.submit_col {
    float: left;
    width: 100%;
    padding: 0px 40px;
    margin-top: 45px;
}

.submit_btn {
    height: 40px;
    float: left;
    font-size: 20px;
    margin-top: 0px;
    width: 190px;
    margin-right: 0px;
    padding: 5px 0px;
    text-align: center;
}

.submit_btn:last-child {
    float: right;
}

.edit_form .form-control {
    font-size: 17px;
}

.academic_btn {
    /* width: 100px; */
}

.skill_col .profile_add {
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 1px 10px;
    font-size: 15px;
    height: 38px;
}

.close_modal {
    position: absolute;
    right: 17px;
    top: 3px;
    color: #000000;
    opacity: 0.5;
    font-size: 30px;
    cursor: pointer;
    z-index: 99;
}

.modal_control {
    width: 60% !important;
    margin: 0px auto;
    display: block !important;
}

.doc_container {}

.doc_container .card {
    margin-bottom: 35px;
    box-shadow: 0 1px 4px 0 #8c6aed;
    background: #fff;
    border-radius: 5px;
}

.accordion .card:first-of-type {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.doc_container .btn-link {
    font-size: 22px;
    line-height: 22px;
    color: #666666;
    font-weight: 600;
    font-style: normal;
}

.doc_container .btn-link:hover {
    color: #666666;
}

.doc_container .card-header {
    background-color: #fff;
    padding: 18px 0px 18px 30px;
    border-bottom: unset;
    cursor: pointer;
}

.cgpa_text {
    font-size: 18px;
}

.doc_row {
    float: left;
    width: 100%;
    padding: 20px 60px;
}

.doc_col {}

.aq_doc_upload_container {
    /* display: none; */
    float: left;
    width: 100%;
    /* height: 75vh; */
}

.aq_doc_left {
    float: left;
    width: 30%;
    box-shadow: 1px 1px 14px -4px rgba(102, 102, 102, 0.21);
    position: relative;
    height: 100%;
}

.aq_doc_left_block {
    position: absolute;
    left: 50%;
    top: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aq_doc_right {
    float: right;
    width: 100%;
    margin-top: 40px;
    padding: 0px 50px;
    margin-bottom: 40px;
}

.drag_thumb {
    margin: 0px auto;
    background-image: url(../images/upload.svg);
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    display: block;
}

.browse_btn {
    margin: 45px auto 0px;
    float: unset;
    width: 200px;
    height: 37px;
    text-align: center;
}

.aq_doc_left_block input[type="file"] {
    display: none;
}

.custom-file-upload {
    /* border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer; */
}

.aq_doc_right .nav-tabs .nav-link.active {
    border-bottom: 2px solid #7086f4;
    border-color: #7086f4 #7086f4 #7086f4;
}

.aq_doc_right .nav-tabs .nav-link {
    border: unset;
}

.tab-content {
    padding-left: 20px;
}

.marks_sheet_col {
    float: left;
    width: 60%;
}

.marks_status_col {
    float: left;
    width: 40%;
}

.marks_options {
    float: left;
    width: auto;
    margin-top: 10px;
}

.marks_options span {
    cursor: pointer;
}

.marks_sheet_row {
    float: left;
    width: 100%;
    margin: 20px 0px 0px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(102, 102, 102, 0.59);
}

.marks_sheet_row:last-child {}

.verified {
    color: #26b999;
}

.processing {
    color: #efc41a;
}

.marks_status {
    float: left;
    width: 50%;
    margin-top: 10px;
}

.marks_thumb {
    width: 30px;
    height: 40px;
}

.add_new_doc {
    float: left;
    width: auto;
    text-align: center;
    cursor: pointer;
}

.add_new_doc img {}

#aq_doc_sec {
    display: block;
}

.work_exp_documents {
    display: none;
}

#work_exp {
    width: 500px;
    margin: 60px auto 10px;
    display: block;
}


/* custom modal css end */

.failMessage {
    width: auto;
    margin: 0px auto;
    display: table;
    margin-top: 20px;
}

.profile_type_container {}


/* accordian */

[data-toggle="collapse"] .fa:before {
    content: "\f077";
}

[data-toggle="collapse"].collapsed .fa:before {
    content: "\f078";
}

.acc_down {
    position: absolute;
    right: 25px;
    top: 23px;
    color: #9269f1;
    font-size: 18px;
}


/* requests page css */

.req_head {
    float: left;
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
}

.req_actions {
    float: left;
    width: 220px;
    height: 90px;
    /* padding: 14px 24px; */
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(48, 48, 77, 0.05), 0 4px 6px 0 rgba(48, 48, 77, 0.05);
    background-image: linear-gradient(98deg, #a6b2fe, #6d7bfc);
    margin-right: 23px;
    color: #fff;
}

.req_actions:last-child {
    margin-right: 0px;
    box-shadow: 0 2px 2px 0 rgba(48, 48, 77, 0.05), 0 4px 4px 0 rgba(48, 48, 77, 0.05), 0 8px 8px 0 rgba(48, 48, 77, 0.05), 0 16px 16px 0 rgba(48, 48, 77, 0.05), 0 32px 32px 0 rgba(48, 48, 77, 0.05);
    /* background-image: linear-gradient(to right, #e1a2f8, #c069ee); */
}

.req_title {
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    float: left;
    width: 100%;
    margin-top: 5px;
}

.req_icon {
    float: left;
    width: auto;
}

.req_icon img {
    float: left;
    width: auto;
    margin-right: 10px;
}

.req_count {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    width: auto;
    float: left;
}

.req_actions a {
    float: left;
    width: 100%;
    height: 100%;
    border: unset !important;
    padding: 14px 24px;
    color: #fff;
    padding: 14px 24px;
    border-radius: 5px;
}

.req_actions a.active {
    color: #fff !important;
    background-image: linear-gradient(to right, #e1a2f8, #c069ee);
}

.req_actions a:hover {
    color: #fff !important;
}

.nav-tabs {
    border-bottom: unset !important;
}

.req_sec .tab-content {
    float: left;
    width: 100%;
    padding-left: 0px;
}

.req_status_menu {
    float: right;
    width: auto;
    margin-left: 15px;
    margin-bottom: 0px;
}

.req_status_menu li a {
    float: left;
    width: 120px;
    background-color: rgba(240, 244, 245, 0.6);
    height: 30px;
    font-size: 14px;
    font-weight: 500;
    color: #999999;
    margin-right: 15px;
    cursor: pointer;
    border-radius: 15px !important;
    text-align: center;
    padding: 5px 0px;
}

.req_status_menu li a:hover {
    background: #6d7bfc !important;
    color: #fff !important;
}

.req_sent {
    margin: 0px;
}

.req_status_menu li a.active {
    background: #6d7bfc !important;
    color: #fff !important;
}

.filter {
    font-size: 13px;
    line-height: 26px;
}

.req_table p {
    float: left;
    width: 100%;
    font-size: 14px;
    margin-bottom: 0px;
    line-height: 24px;
}

.req_table .req_head {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
}

.req_table img {
    position: relative;
    left: -10px;
    width: 40px;
}

.req_table .w-18 {
    width: 18%;
}

.view_doc_text {
    font-size: 13px;
    color: #7086f4;
    text-decoration: underline;
    cursor: pointer;
}

.req_table .req_id {
    font-size: 14px;
    opacity: 0.7;
    line-height: 24px;
    margin-bottom: 0px;
}

.req_date {
    font-size: 14px;
    line-height: 24px;
}

.req_cgpa {
    margin-top: 18px !important;
}

.req_table thead {
    background: #fff;
}


/* media queries for mobile  */

@media only screen and (max-width: 600px) {
    header {}
    .multi_col_left {
        width: 100% !important;
        height: auto !important;
    }
    .multi_col_right {
        width: 100% !important;
    }
    .multi_col_right .select2-container {
        width: 100% !important;
    }
    .balance_col {
        width: 100% !important;
    }
    .toast.show {
        display: none !important;
    }
    .pc_logo {
        margin: 0px auto;
        float: unset;
    }
    .profile_menu {
        width: 100% !important;
    }
    .profile_menu ul li {
        width: 100% !important;
        text-align: center;
        margin-top: 25px !important;
    }
    .pc_menu .dropleft {
        display: none;
    }
    .search_col {
        margin-top: 20px;
    }
    .mobile_col {
        max-width: 100%;
    }
    .profile_col {
        width: 100%;
        margin: 0px 0px 15px 0px;
        height: auto;
    }
    .profile_block {
        width: 100%;
        margin-bottom: 25px;
    }
    .scan_profile_block {
        width: 100%;
        margin: 0px;
        margin-bottom: 25px;
    }
    .activity_block {
        width: 100% !important;
    }
    .profile_header_col {
        height: auto;
    }
    .profile_container {
        width: 100%;
        padding: 0px 10px;
    }
    .pc_tour_col {
        margin-right: 10px !important;
        width: 30% !important
    }
    .profile_row .title {
        font-size: 16px;
    }
    .skill_block {
        padding: 0px;
        background: unset !important
    }
    .custom_card h4 {
        font-size: 14px !important
    }
    .pprofile_banner {
        width: 100% !important;
        margin: 0px 0px 20px 0px !important;
    }
    .pprofile_col {
        width: 100% !important;
        margin-right: 0px !important;
    }
    .unlock_data_col {
        padding: 5px 15px !important;
        width: 100% !important;
        height: 35px !important;
    }
    .unlock_verify_col {
        width: 100% !important;
        margin: 20px 0px 20px 0px;
        text-align: center;
    }
    .profile_thumb {
        width: 100%
    }
    .profile_thumb img {
        margin: 0px auto;
        display: block;
    }
    .profile_info_col {
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }
    .add_form {
        width: 100%;
        padding: 10px;
        margin: 0px;
    }
    .add_form .continue_btn {
        width: 100%;
        margin-top: 0px;
    }
    .submit_col {
        margin-top: 15px;
    }
    .user_col {
        width: 100%;
    }
    .user_name {
        font-size: 16px !important;
        line-height: 16px !important;
    }
    .add_form .form_label {
        font-size: 14px;
        line-height: 14px;
    }
    .mobile_signup_btn {
        margin-top: 20px !important;
    }
    .work_banner img {
        width: 100% !important;
    }
    .work_block {
        left: unset !important;
    }
    .form_data {
        width: 100%;
        padding: 0px 15px;
    }
    .edu_tab_menu {
        float: left;
        width: 100%;
    }
    body {
        width: 100%;
        /* overflow: auto; */
    }
    .signup_form {
        width: 100%;
        margin-top: 40px;
        left: 0px;
    }
    .signup_form {
        padding: 0px 20px;
    }
    .signup_form .title {
        font-size: 18px;
    }
    .signup_form .info {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .banner_col {
        width: 100% !important;
        height: auto !important;
    }
    .banner_col img {
        width: 100%;
        margin-left: 0px;
        margin-top: 10px;
    }
    .basic_info_col {
        width: 100%;
    }
    .continue_btn {
        margin-top: -42px;
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 19px;
        /* height: 24px; */
    }
    .educational_container {
        width: 100%;
        padding: 0px 20px;
    }
    .educationsl_details_tab {
        width: 100%;
    }
    .edu_tab_menu li {
        width: 52%;
        margin: 0px auto;
        display: block;
        padding: 10px 0px;
        float: unset !important;
    }
    .sub_title {
        font-size: 20px;
    }
    .mobile_padding {
        padding: 0px !important;
    }
    .mobile_continue_btn {
        margin-bottom: 20px;
    }
    .linked_info {
        font-size: 14px;
        line-height: 24px;
    }
    .pincode-input-text,
    .form-control.pincode-input-text {
        width: 30px !important;
        height: 30px !important;
        margin-bottom: 20px;
    }
    .pincode-input-container {
        margin-bottom: 30px;
        width: 100%;
    }
    .resend_col {
        width: 100%;
        text-align: center;
    }
    .banner_col img {
        margin-left: 0px !important;
    }
    .profile_type_col {
        width: 100%;
    }
    .basic_info {
        font-size: 20px;
    }
    .basic_info_btn {
        margin-top: 0px !important;
    }
    .signup_btn {
        margin-top: 42px !important;
    }
    #educational_form .pl-4 {
        padding-left: 0px !important;
    }
    #educational_form .pr-4 {
        padding-right: 0px !important;
    }
    .skip_btn {
        margin-bottom: 20px;
    }
    .profile_img {
        margin: 0px auto;
        display: block;
    }
    .profile_type_block {
        width: 100%;
    }
    .req_actions {
        float: unset;
        margin: 10px auto;
    }
    .req_actions:last-child {
        margin: 10px auto;
    }
    .req_status_menu {
        margin-left: 0px;
    }
    .req_status_menu li a {
        width: 105px;
        margin-right: 6px;
    }
    .wallet_left_sec,
    .wallet_right_sec {
        width: 100% !important
    }
    .wallet_center_sec {
        width: 100% !important;
        margin: 20px 0px !important;
    }
}


/* Medium devices tablets  */

@media only screen and (min-width: 768px) {
    /* .banner_col {
        width: 100%;
        height: auto;
    }
    .mobile_col {
        width: 100% !important;
        max-width: 100% !important; 
    }
    .signup_form {
        width: 100%;
        padding: 0px 20px;
        margin-top: 40px;
    }
    .educational_container {
        width: 100%;
        padding: 0px 20px;
    }
    .basic_info_btn {
        margin-top: 0px;
    }
    .profile_type_mobile {
        margin-top: 0px;
        margin-bottom: 20px;
    } */
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media screen and (max-width: 1280px) {
    .banner_col {
        background-image: url(../images/banner_bg.png);
        height: 710px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .profile_type_block {
        /* width: 100%; */
    }
    .banner_col img {
        margin-left: 10px;
    }
    .mac_signup_form {
        width: 100%;
        padding: 0px 20px;
    }
    .signup_form {
        width: 100%;
    }
}

@media screen and (min-width: 1900px) {
    .banner_col {
        background-image: url(../images/banner_bg.png);
        height: 710px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .profile_type_block {
        /* padding: 0px 263px; */
    }
    .back_icon {
        /* left: 20%; */
    }
}

.marginTop {
    margin-top: 35px !important;
}

.marginTop {
    margin-top: 15px !important;
}

.submit_col2 {
    float: left;
    width: 100%;
    padding: 0px 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.user_name {
    float: left;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    color: #333333;
    font-style: normal;
    line-height: 40px;
}

.custom_modal {
    float: left;
    width: 100%;
}


/* wallet page css */

.wallet_left_sec {
    float: left;
    width: 445px;
    background: url('../images/wallet_token_bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 196px;
    object-fit: cover;
}

.balance {
    float: left;
    width: 100%;
    font-size: 16px;
    line-height: 23px;
    font-weight: 500;
    color: #fff;
    margin: 0px;
}

.wallet_center_sec {
    float: left;
    width: 330px;
    box-shadow: 0 0 9px 3px rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    height: 196px;
    margin: 0px 26px;
    padding: 13px;
}

.wallet_right_sec {
    float: left;
    width: 330px;
    box-shadow: 0 0 9px 3px rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    height: 196px;
    padding: 13px;
}

.pct_balance {
    font-size: 35px;
    line-height: 49px;
    font-weight: 600;
    float: left;
    width: 100%;
    color: #fff;
    font-style: normal;
    margin: 0px;
}

.pct_user {
    float: left;
    width: 100%;
    font-size: 16px;
    line-height: 23px;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    margin-top: 52px;
}

.pct_left_sec_col {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 24px 34px;
    height: 100%;
}

.wallet_header {
    float: left;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    color: rgba(0, 0, 0, 0.7);
    margin: 0px;
}

.wallet_text {
    float: left;
    width: 100%;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    color: rgba(0, 0, 0, 0.7);
    opacity: 0.7;
}

.coming_soon_text {
    float: right;
    width: 50%;
    font-size: 15px;
    line-height: 21px;
    font-weight: 600;
    color: #6d7bfc;
    margin-top: 60px;
}

.wallet_img_col {
    float: left;
    width: 100%;
}

.wallet_img_col img {
    float: left;
    width: auto;
    margin-left: 25px;
}

.wallet_table img {
    width: auto;
    left: 0px;
}

.wallet_table .view_doc_text {
    text-decoration: none;
    font-size: 15px;
    font-weight: normal;
    color: rgba(51, 51, 51, 0.9);
    line-height: 21px;
    cursor: unset;
}

.wallet_table td:last-child,
.wallet_table th:last-child {
    width: 12%;
    color: rgba(51, 51, 51, 0.9);
    font-size: 15px;
    line-height: 21px;
    font-weight: normal;
    font-style: normal;
}

.wallet_table .verified {
    float: left;
    margin-right: 10px;
}

.wallet_table .failure {
    float: left;
    margin-right: 10px;
}

.supporting_doc_col {
    float: left;
    width: 100%;
    border-top: 1px solid #cccccc;
}

.supporting_doc_col img {
    width: auto;
    margin: 0px auto;
    display: block;
    cursor: pointer;
}

.supporting_doc_info {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
}

.verify_otp_col {
    display: block;
    float: left;
    width: 100%;
    padding: 20px 48px;
    border: 2px solid #6e7bfc;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.verify_text {
    font-size: 16px;
    line-height: 23px;
    color: #6e7bfc;
    font-weight: normal;
    font-style: normal;
    position: absolute;
    right: 10px;
    top: 47px;
    cursor: pointer;
}

.mobile_text {
    font-size: 17px;
    line-height: 24px;
    color: #666666;
    font-style: normal;
    font-weight: normal;
    float: left;
    width: 100%;
}

.otp_text {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    font-style: normal;
    font-weight: normal;
    float: left;
    width: 100%;
}

.verify_otp_col .new_doc_btn {
    height: 30px;
    width: 150px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
}

.verify_otp_col .resend_row {
    float: left;
    width: 100%;
    padding: 0px 0px;
}

.verify_otp_col .resend_col:first-child {
    float: left;
    width: 100%;
}

.verify_otp_col .resend_col:last-child {
    float: left;
    width: 100%;
    text-align: center;
}

.loader {
    border: 16px solid rgba(124, 108, 230, 0.1);
    /* Light grey */
    border-top: 16px solid #8c6aed;
    /* Blue */
    border-bottom: 16px solid #8c6aed;
    /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
    margin: 0px auto;
    margin-top: 90px;
    display: none;
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* CSS for autocomplete */

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 75%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: #8c6aed !important;
    color: #ffffff;
}

.profile_banner {
    float: left;
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(to right, #c887eb, #6e7bfc); */
    border-radius: 4px;
    background: #6f16cb;
    border: 1px solid #624DAA;
    color: #ffffff;
}

.extension_btn {
    height: 28px;
    width: 80%;
    display: block;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    color: #6f16cb;
    background: #ffffff;
    line-height: 21px;
    margin: 0px auto;
    float: unset;
    border: 1px solid #6f16cb;
    border-radius: 15px !important;
    cursor: pointer;
}

.extension_btn:hover {
    color: #ffffff;
    background: #6f16cb;
    border-radius: 15px !important;
    border: 1px solid #ffffff;
}

.extension_bg {
    width: 100px;
    margin: 15px auto;
    display: block;
}

.shield {
    margin: 5px;
    font-size: 6em;
}

.chr_ext_bg {
    width: 351px;
    margin: 40px auto 0px;
    display: block;
}

.extension_title {
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    color: #333333;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 12px;
}

.extension_info {
    font-size: 16px;
    font-style: normal;
    color: #333333;
    width: 514px;
    text-align: center;
    margin: 30px auto;
    display: table;
}

.extension_success_bg {
    width: 50px;
    height: 50px;
    margin: 0px auto;
    display: block;
}

.plug_success_msg {
    font-size: 20px;
    line-height: 28px;
    color: rgba(51, 51, 51, 0.9);
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.retry {
    float: left;
    width: 100%;
    font-size: 20px;
    color: #8c6aed;
    line-height: 28px;
    font-weight: 500;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

.animation {
    border-radius: 50%;
    height: 2px;
    width: 2px;
    /* To allow border-radius to work */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -1px;
    box-shadow: -75px -125px 0 40px #6cce74, 75px -125px 0 40px #c18d46, 150px 0px 0 40px #c14745, 75px 125px 0 40px #2e1e5b, -75px 125px 0 40px #9c37a6, -150px 0px 0 40px #76bdd1;
    -webkit-animation: rotate 2s infinite linear;
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    16.67% {
        box-shadow: -75px -125px 0 40px #76bdd1, 75px -125px 0 40px #6cce74, 150px 0px 0 40px #c18d46, 75px 125px 0 40px #c14745, -75px 125px 0 40px #2e1e5b, -150px 0px 0 40px #9c37a6;
    }
    33.33% {
        box-shadow: -75px -125px 0 40px #9c37a6, 75px -125px 0 40px #76bdd1, 150px 0px 0 40px #6cce74, 75px 125px 0 40px #c18d46, -75px 125px 0 40px #c14745, -150px 0px 0 40px #2e1e5b;
    }
    50% {
        box-shadow: -75px -125px 0 40px #2e1e5b, 75px -125px 0 40px #9c37a6, 150px 0px 0 40px #76bdd1, 75px 125px 0 40px #6cce74, -75px 125px 0 40px #c18d46, -150px 0px 0 40px #c14745;
    }
    66.67% {
        box-shadow: -75px -125px 0 40px #c14745, 75px -125px 0 40px #2e1e5b, 150px 0px 0 40px #9c37a6, 75px 125px 0 40px #76bdd1, -75px 125px 0 40px #6cce74, -150px 0px 0 40px #c18d46;
    }
    88.88% {
        box-shadow: -75px -125px 0 40px #c18d46, 75px -125px 0 40px #c14745, 150px 0px 0 40px #2e1e5b, 75px 125px 0 40px #9c37a6, -75px 125px 0 40px #76bdd1, -150px 0px 0 40px #6cce74;
    }
    100% {
        transform: rotate(-360deg);
        box-shadow: -75px -125px 0 40px #6cce74, 75px -125px 0 40px #c18d46, 150px 0px 0 40px #c14745, 75px 125px 0 40px #2e1e5b, -75px 125px 0 40px #9c37a6, -150px 0px 0 40px #76bdd1;
    }
}

@-webkit-keyframes rotate {
    16.67% {
        box-shadow: -75px -125px 0 40px #76bdd1, 75px -125px 0 40px #6cce74, 150px 0px 0 40px #c18d46, 75px 125px 0 40px #c14745, -75px 125px 0 40px #2e1e5b, -150px 0px 0 40px #9c37a6;
    }
    33.33% {
        box-shadow: -75px -125px 0 40px #9c37a6, 75px -125px 0 40px #76bdd1, 150px 0px 0 40px #6cce74, 75px 125px 0 40px #c18d46, -75px 125px 0 40px #c14745, -150px 0px 0 40px #2e1e5b;
    }
    50% {
        box-shadow: -75px -125px 0 40px #2e1e5b, 75px -125px 0 40px #9c37a6, 150px 0px 0 40px #76bdd1, 75px 125px 0 40px #6cce74, -75px 125px 0 40px #c18d46, -150px 0px 0 40px #c14745;
    }
    66.67% {
        box-shadow: -75px -125px 0 40px #c14745, 75px -125px 0 40px #2e1e5b, 150px 0px 0 40px #9c37a6, 75px 125px 0 40px #76bdd1, -75px 125px 0 40px #6cce74, -150px 0px 0 40px #c18d46;
    }
    88.88% {
        box-shadow: -75px -125px 0 40px #c18d46, 75px -125px 0 40px #c14745, 150px 0px 0 40px #2e1e5b, 75px 125px 0 40px #9c37a6, -75px 125px 0 40px #76bdd1, -150px 0px 0 40px #6cce74;
    }
    100% {
        -webkit-transform: rotate(-360deg);
        box-shadow: -75px -125px 0 40px #6cce74, 75px -125px 0 40px #c18d46, 150px 0px 0 40px #c14745, 75px 125px 0 40px #2e1e5b, -75px 125px 0 40px #9c37a6, -150px 0px 0 40px #76bdd1;
    }
}


/* css for success check anumation */

.check_mark {
    width: 80px;
    height: 130px;
    margin: 0 auto;
}

button {
    cursor: pointer;
    margin-left: 15px;
}

.hide {
    display: none;
}

.sa-icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box;
}

.sa-icon.sa-success {
    border-color: #4CAF50;
}

.sa-icon.sa-success::before,
.sa-icon.sa-success::after {
    content: '';
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 120px;
    background: white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.sa-icon.sa-success::before {
    -webkit-border-radius: 120px 0 0 120px;
    border-radius: 120px 0 0 120px;
    top: -7px;
    left: -33px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 60px 60px;
    transform-origin: 60px 60px;
}

.sa-icon.sa-success::after {
    -webkit-border-radius: 0 120px 120px 0;
    border-radius: 0 120px 120px 0;
    top: -11px;
    left: 30px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0px 60px;
    transform-origin: 0px 60px;
}

.sa-icon.sa-success .sa-placeholder {
    width: 80px;
    height: 80px;
    border: 4px solid rgba(76, 175, 80, .5);
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2;
}

.sa-icon.sa-success .sa-fix {
    width: 5px;
    height: 90px;
    background-color: white;
    position: absolute;
    left: 28px;
    top: 8px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.sa-icon.sa-success.animate::after {
    -webkit-animation: rotatePlaceholder 4.25s ease-in;
    animation: rotatePlaceholder 4.25s ease-in;
}

.sa-icon.sa-success {
    border-color: transparent\9;
}

.sa-icon.sa-success .sa-line.sa-tip {
    -ms-transform: rotate(45deg) \9;
}

.sa-icon.sa-success .sa-line.sa-long {
    -ms-transform: rotate(-45deg) \9;
}

.animateSuccessTip {
    -webkit-animation: animateSuccessTip 0.75s;
    animation: animateSuccessTip 0.75s;
}

.animateSuccessLong {
    -webkit-animation: animateSuccessLong 0.75s;
    animation: animateSuccessLong 0.75s;
}

@-webkit-keyframes animateSuccessLong {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

@-webkit-keyframes animateSuccessTip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes animateSuccessTip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes animateSuccessLong {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

.sa-icon.sa-success .sa-line {
    height: 5px;
    background-color: #4CAF50;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
}

.sa-icon.sa-success .sa-line.sa-tip {
    width: 25px;
    left: 14px;
    top: 46px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.sa-icon.sa-success .sa-line.sa-long {
    width: 47px;
    right: 8px;
    top: 38px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@-webkit-keyframes rotatePlaceholder {
    0% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }
}

@keyframes rotatePlaceholder {
    0% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg);
    }
}


/* chek mark  */

.checkmark {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}

#chrome-extension .loader {
    border: 10px solid rgba(124, 108, 230, 0.1);
    /* Light grey */
    border-top: 10px solid #8c6aed;
    /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
    margin: 0px auto;
    margin-top: 90px;
    display: none;
}

#cancelExtension {
    color: #8c6aed;
    text-decoration: underline;
    display: none;
    cursor: pointer;
}

#extSuccess {
    display: none;
}

#extFail {
    display: none;
}

#qrBanner {
    background-color: #ffffff !important;
    color: #000000;
    border: none;
}

.qr_scanner {
    width: 100%;
}

.qr_scanner img {
    width: 60%;
    margin-left: 20%;
}

.qr_bg {
    width: 217px;
    height: auto;
}

.share_public {
    float: left;
    width: 100%;
    padding: 0px 10px;
}

.media_btn {
    float: left;
    width: 200px;
    color: #fff;
    font-size: 23px;
    line-height: 23px;
    font-weight: 600;
    font-style: normal;
    border: 2px solid #ffffff;
    padding: 10px 0px;
    border-radius: 25px;
}

.fb_btn {
    background: #3b5998;
}

.fb_btn:hover {
    background: #fff;
    color: #3b5998;
    border: 2px solid #3b5998;
}

.twitter_btn {
    background: #55acee;
    float: right;
}

.twitter_btn:hover {
    background: #fff;
    color: #55acee;
    border: 2px solid #55acee;
}

.mail_btn {
    background: #f14336;
    margin: 20px auto 0px;
    display: block;
    float: unset;
}

.mail_btn:hover {
    background: #fff;
    color: #f14336;
    border: 2px solid #f14336;
}

button:focus {
    outline: none !important;
}

.media_btn .fb {
    margin-right: 20px;
}

.pc_menu {
    float: right;
    width: auto;
}

.success-feedback {
    width: 100%;
    color: #28a745;
    margin-left: 25px;
}

.failure-feedback {
    width: 100%;
    color: #dc3545;
    margin-left: 25px;
}

.basic_info_row .failure-feedback {
    margin-left: 0px;
    font-size: 80%;
}

.form-group .failure-feedback {
    margin-left: 0px;
    font-size: 80%;
}

.signup_form .failure-feedback {
    width: 100%;
    color: #dc3545;
    /* margin-left: 25px; */
    font-size: 100%;
}

.profile_menu {
    margin: 0px auto;
    width: 500px;
    display: block;
}

.profile_menu ul {
    list-style: none;
    display: block;
    margin: 0px auto;
    width: 75%;
}

.profile_menu ul li {
    float: left;
    width: auto;
    margin-right: 40px;
    font-size: 18px;
    line-height: 20px;
    color: #424242;
    font-weight: normal;
    font-style: normal;
    margin-top: 15px;
    cursor: pointer;
}

.profile_menu ul li img {
    position: relative;
    top: -4px;
    left: -6px;
}

.profile_menu ul li:last-child {
    margin-right: 0px;
}

.profile_menu ul li a {
    color: #424242;
}

.profile_menu ul li a:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid #6f16cb;
    text-decoration: unset;
}

.profile_menu ul li.active {
    /* padding-bottom: 5px;
    border-bottom: 2px solid #6f16cb; */
    color: #6f16cb;
}

.dropdown-menu.show {
    top: 35px !important;
    left: 57px !important;
}

.req_col {}

.req_img {}

.req_doc {}

.custom-file,
.custom-file-label {
    height: 50px !important;
    line-height: 38px !important;
}

.custom-file-label::after {
    line-height: 37px !important;
    height: 100% !important;
}

.rounded {
    width: 150px;
}

.pc_menu {
    float: right;
    width: auto;
}

.req_col {
    width: 20%;
}

.edit_pic {
    font-size: 1rem;
    float: left;
    cursor: pointer;
    position: absolute;
    margin: 0px auto;
    z-index: 99;
}

.image_container {
    width: 105px;
    height: 108px;
    padding: 2px;
}

.search_col {
    float: right;
    margin-right: 32px;
    width: 225px;
}

.search_col .form-control {
    height: 35px !important;
    margin-bottom: 5px;
    border: 1px solid #dfe1e5;
    border-radius: 20px;
    color: #76787f !important;
    font-size: 14px !important;
    padding-left: 30px;
}

.view_btn {
    font-size: 14px;
    width: auto;
    height: 30px;
    padding: 0px 10px;
    margin-top: 15px;
    float: left;
}

.extra-10 {
    margin-top: 10px;
}

.verify_req {
    float: left;
    width: 50%;
    text-align: center;
}

.reject_req {
    float: left;
    width: 50%;
    text-align: center;
}

.verify_req img {
    width: 26px;
    margin: 0px auto;
    display: block;
    position: unset;
    cursor: pointer;
}

.verify_req p {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 13px;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.9);
    margin-top: 10px;
}

.action {
    text-align: center;
    width: 15%;
}


/* This CSS file just define some default styles and loaders */


/* You don't need to include it if you're working with your custom overlay loader element */

.loading-overlay {
    display: table;
    opacity: 0.7;
}

.loading-overlay-content {
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 1.15em;
    font-weight: bold;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.loading-overlay.loading-theme-light {
    background-color: #fff;
    color: #000;
}

.loading-overlay.loading-theme-dark {
    background-color: #000;
    color: #fff;
}


/* loader css */

.pre-loader {
    background-color: #2c3e50;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.sk-fading-circle {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
}

.sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
    animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
    0%,
    39%,
    100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

@keyframes sk-circleFadeDelay {
    0%,
    39%,
    100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

.banner {
    height: 50px;
    top: 0;
    left: 0;
    padding: 10px;
    color: white;
    background: #6f16cb;
    display: none;
}

.banner p {
    text-align: center;
}

.banner p button {
    width: auto;
    display: inline-block;
}

.remember {
    margin: 30px 0px 0px 10px;
    display: inline-flex;
}

.continue_text2 {
    display: inline-flex;
    color: rgba(16, 16, 16, 1);
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 10px;
}

.verify_file_btn {
    width: 100% !important;
    height: 40px !important;
    float: left !important;
    margin-top: 15px !important;
    margin: 0px auto;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    background: #5413BB;
    border: 1px solid #5413BB;
    border-radius: 4px;
    font-weight: bold;
    display: none;
    cursor: pointer;
}

.sk-circle_crypto {
    display: none;
    margin: 25px auto 15px !important;
    width: 40px;
    height: 40px;
    position: relative;
}

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


/* Transparent Overlay */

.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d3d3d3;
    opacity: 0.97;
}


/* :not(:required) hides these rules from IE9 and below */

.loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: '';
    display: block;
    font-size: 15px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: #5413BB 1.5em 0 0 0, #5413BB 1.1em 1.1em 0 0, #5413BB 0 1.5em 0 0, #5413BB -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, #5413BB 0 -1.5em 0 0, #5413BB 1.1em -1.1em 0 0;
    box-shadow: #5413BB 1.5em 0 0 0, #5413BB 1.1em 1.1em 0 0, #5413BB 0 1.5em 0 0, #5413BB -1.1em 1.1em 0 0, #5413BB -1.5em 0 0 0, #5413BB -1.1em -1.1em 0 0, #5413BB 0 -1.5em 0 0, #5413BB 1.1em -1.1em 0 0;
}


/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.plug_btn {
    margin-left: 10px !important;
    width: 40% !important;
}

.secretKeyText {
    height: unset !important;
}

.fromSecret {
    margin-top: 15px;
    display: none;
}

#passwordError2 {
    color: red;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}


/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}


/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.profile_subtitle {
    font-size: 18px;
    color: #424242;
    opacity: 0.6;
}

.skip_edu {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #424242;
    opacity: 0.6;
    top: 10px;
    display: none;
}


/* pc welcome modal */

.pc_welcome_img {
    width: 280px;
    height: 280px;
    margin: 0px auto;
    display: block;
}

.pc_welcome_head {
    font-size: 25px;
    line-height: 40px;
    color: #343856;
    text-align: center;
    float: left;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    margin-top: 20px;
}

.pc_welcome_modal {
    padding: 50px;
    box-sizing: border-box;
}

.pc_welcome_modal small {
    font-size: 17px !important;
    color: #343856;
    text-align: center;
    float: left;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom: 30px;
}

.pc_next_btn {
    width: 50px;
    position: absolute;
    right: 43px;
    bottom: 35px;
    cursor: pointer;
}

.wallet_ewards {
    width: 350px;
    height: 350px;
}

.unlock_shield {
    width: 400px;
    height: 248px;
}

.activity_block {
    background: #fff;
}

.noti_title,
.noti_title p {
    font-size: 16px;
    float: left;
    width: 100%;
    color: #424242;
    text-align: left;
    margin-bottom: 0px;
}

.noti_title small {
    font-size: 14px;
}

.tour_box {
    width: 60px;
    height: 60px;
    /* background: #F5F5F5; */
    margin: 20px auto 30px;
    display: block;
}

.tour_box img {
    float: left;
    width: 100%;
    height: 100%;
}

.pc_tour_row {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.pc_tour_col {
    float: left;
    width: 31%;
    margin-right: 12px;
}

.pc_tour_col:last-child {
    margin-right: 0px;
    float: right;
}

.tour_btn {
    width: 87px;
    display: block;
    margin: 16px auto;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    height: 30px;
    font-size: 13px;
    font-weight: 600;
    background-image: linear-gradient(90deg, #F4F4F4, 0px, rgba(229, 229, 229, 0.8), 40px, #f4f4f4, 40px);
    animation: shine-avatar 2.0s infinite ease-out;
}

.pctour {
    background: linear-gradient(-90deg, #9867F4, #7B6CE7);
    /* border: 1px solid #7D20BC; */
    border: none;
}

.comunty {
    background: #0795BC;
    border: 1px solid #0795BC;
}

.faqtour {
    background: #EC5488;
    border: 1px solid #EC5488;
}

.pc_shield_logo {
    width: 86px;
    height: 115px;
}

.chrome {
    width: 15px;
}

::-webkit-input-placeholder {
    /* Edge */
    color: #DBDBDB;
}

 :-ms-input-placeholder {
    /* Internet Explorer */
    color: #DBDBDB;
}

.form-group input::placeholder {
    color: #DBDBDB;
}

.form-control:focus {
    box-shadow: unset !important;
}

.work_banner {
    position: relative;
}

.work_banner img {
    width: 490px;
    margin: 100px auto 0px;
    display: block;
}

.work_block {
    position: relative;
    left: -40px;
}

.work_block label {
    font-size: 16px;
    opacity: 0.5;
    margin-bottom: 12px;
}

.work_block .form-control {
    margin-bottom: 20px !important;
}

.appTimes {
    float: left;
    width: 100%;
    position: relative;
    top: -13px;
}

.custom_card {
    /* box-shadow: 0px 0px 1px 0px #cccccc; */
}

.custom_card_col {
    float: left;
    width: 100%;
}

.custom_card .cust_card_img {
    float: left;
    width: 50%;
}

.custom_card .cust_card_info {
    float: left;
    width: 50%;
    font-size: 15px;
    margin-top: 90px;
    color: #6D7BFC;
    text-align: center;
    font-weight: 500;
}

.custom_card .cust_card_info span {
    /* width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid #8186fa; */
}

button[disabled] {
    cursor: not-allowed !important;
}

.dropdown-item {
    cursor: pointer;
}

.form-control:disabled,
.form-control[readonly] {
    cursor: not-allowed;
}

.back_to_pc {
    cursor: pointer;
    position: relative;
    left: -20px;
}

.continue_icon {
    width: 11px;
    margin-left: 10px;
    margin-left: 10px;
    margin-left: 10px;
}


/* extesnsion modal landing css new design */

.decrypt_icon {
    width: 100px;
    height: 100px;
}

.pc_extension_modal .modal-dialog {
    width: 400px !important;
}

.pc_extension_modal .pc_welcome_modal {
    padding: 30px;
}

.pc_extension_modal .pc_welcome_head {
    color: #333333;
    font-size: 15px;
    line-height: 15px;
    float: left;
    width: 100%;
    text-align: center
}

.pc_extension_modal p {
    font-size: 12px;
    line-height: 20px;
    color: #333333;
    opacity: 0.7;
    text-align: center;
    float: left;
    width: 100%;
}

.pc_extension_modal .form-control {
    height: 40px !important;
    border: solid 1px #a1a1a1 !important;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 12px;
    line-height: 12px;
}

.password_icon {
    position: absolute;
    right: 10px;
    top: 24px;
    width: 20px;
    height: 12px;
    cursor: pointer;
}

.pc_submit_btn {
    width: 134px;
    background-image: radial-gradient(circle at 110% 0, #c97fd7, #4a3ca2);
    border-radius: 5px;
    height: 35px;
    margin: 0px auto;
    border: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    display: block;
}

.pc_shiled_logo {
    width: 140px;
    height: 30px;
    margin-bottom: 30px;
}

.secure_key_box_ {
    float: left;
    width: 100%;
    height: 40px;
    border: solid 0.6px #a1a1a1;
    border-radius: 3px;
    font-size: 13px;
    color: #000000;
    line-height: 18px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 12px;
    margin-bottom: 15px;
}

.download_kit_btn {
    float: right;
    width: 150px;
    font-weight: 600;
}

.copy_key_btn {
    float: left;
    width: 150px;
    border: solid 1px #4a3ca2;
    color: #4a3ca2;
    background: #fff;
    font-weight: 600;
}

.pc_btn_col {
    margin-top: 15px;
}

.settings_col {
    float: left;
    width: 50%;
    font-size: 13px;
    line-height: 16px;
    color: #333333;
    opacity: 0.4;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
}

.settings_col img {
    margin-right: 10px;
}

.settings_row {
    padding: 15px 0px;
    border-top: 1px solid rgba(225, 214, 214, 0.87);
}

.shield_login_block {
    float: left;
    width: 100%;
}

.shield_login_col {
    float: left;
    width: 100%;
}

.shield_thumb {
    float: left;
    width: 54px;
}

.shield_thumb img {
    float: left;
    width: 100%;
    height: 67px;
}

.shield_info_col {
    float: right;
    width: calc(100% - 80px);
}

.shield_info_col p {
    text-align: left;
}

.shield_box_col {
    float: left;
    width: 100%;
    padding: 10px 28px;
    box-shadow: 0 0 1px 0 rgba(82, 34, 152, 0.16);
    margin-bottom: 16px;
}

.shield_box_col img {
    float: left;
    width: auto;
    margin-right: 20px;
}

.shield_box_col span {
    float: left;
    font-size: 15px;
    color: #333333;
    width: auto;
}

.shield_text {
    float: left;
    width: 100%;
    text-align: center;
    color: #7351b3 !important;
    font-size: 13px;
    opacity: 0.9;
}

.select2-container .select2-selection--single {
    /* height: 100% !important; */
}

.select2-container {
    width: 100% !important;
    height: 50px;
}

.select2-selection {
    height: 50px !important;
}

.select2-selection__arrow {
    top: 10px !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #ced4da;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-top: 12px;
}

.select2-selection__rendered {
    padding-top: 10px !important;
}

.select2-results__option {
    float: left;
    width: 100%;
    box-sizing: border-box;
}


/* public profile css starts */

.pprofile_block {
    float: left;
    width: 100%;
}

.pprofile_block img {
    float: left;
    width: 100%;
    height: 580px;
}

.unlock_icon img {
    width: 142px;
    margin: 0px auto;
}

.pprofile_banner {
    width: 300px;
    margin: 0px 40px;
}

.pactivity_block {
    width: 300px;
    margin: 0px;
}

.pprofile_col {
    float: left;
    width: 18%;
    height: 225px;
    background: #ffffff;
    position: relative;
    box-sizing: border-box;
    padding: 16px 20px;
    margin-bottom: 15px;
    margin-right: 32px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 13px 0 rgba(153, 153, 153, 0.13);
}

.pprofile_col img {
    width: auto;
    margin: 20px auto;
    display: block;
}

.pprofile_col p {
    margin-bottom: 20px;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.pprofile_col:last-child {
    margin-right: 0px;
}

.pc_rating_title {
    float: left;
    width: 100%;
    text-align: left !important;
    margin-bottom: 10px !important;
    color: #333333;
    opacity: 0.5;
    font-size: 13px;
}

.pc_rating_col {
    margin-top: 20px;
}

.progress {}

.progress-bar {
    background-image: linear-gradient(to left, #d98ce7, #7550cd);
    border-radius: 6px;
}

#pswd_info {
    display: none;
    color: #dc3545;
}

#letter {
    display: none;
}

#capital {
    display: none;
}

#number {
    display: none;
}

#password1-error {
    color: #dc3545;
}

.unlock_data_col {
    float: left;
    width: 220px;
    height: 38px;
    border: 1px solid #ebebeb;
    padding: 6px 20px;
    border-radius: 25px;
    cursor: pointer;
}

.unlock_data_col img {
    width: 40px;
    margin-right: 10px;
    margin-left: 0px;
    position: relative;
    top: -3px;
}

.unlock_text {
    font-size: 17px;
    color: #333333;
    opacity: 0.7;
    font-weight: 500;
    position: relative;
    top: -7px;
}

.unlock_verify_col {
    float: right;
    width: auto;
    position: relative;
    top: -10px;
}

.unlock_verify_col img {
    width: 40px;
    margin: 0px auto;
    display: block;
}

.unlock_verify_col span {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 11px;
    color: #333333;
    font-weight: normal;
}

.alert {
    position: fixed !important;
    bottom: 10px;
    right: 10px;
}

.toast {
    z-index: 999;
    opacity: 1 !important;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 100%;
    max-width: 400px;
}

.toast-body {
    float: left;
}

.toast-header {
    float: left;
    width: 100%;
    padding: 10px !important;
}

.error_message {
    font-size: 16px;
    margin-bottom: 0px;
    color: #c14745;
}

.toast-header button {
    position: relative;
    right: -184px;
}

.multi_col_right {
    float: right;
    width: 66%;
    /* margin-top: 40px; */
    /* padding: 40px 0px; */
    /* margin-bottom: 40px; */
    position: relative;
    height: 630px;
}

.org_type {
    width: 381px;
    margin: 0px auto;
    height: 65px;
}

.multi_col_left {
    float: left;
    width: 34%;
    box-shadow: 1px 1px 14px -4px rgba(102, 102, 102, 0.21);
    height: 630px;
    padding: 0px 20px;
}

.multi_col_left .nav-tabs {
    float: left;
    width: 100%;
    margin-top: 0px;
}

.multi_col_left .nav-item {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.multi_col_left .nav-item .nav-link {
    float: left;
    width: 100%;
    font-size: 13px;
    color: #333333;
    border-radius: 20px;
    height: 40px;
    margin-bottom: 15px;
    line-height: 26px;
}

.multi_col_left .nav-item .nav-link:hover {
    background: #e9ecef;
}

.multi_col_left .nav-item .nav-link.active {
    border: none;
    background: #e9ecef;
}

.multi_col_left .nav-item:hover {
    border: none;
    /* background: #a1a1a1; */
}

.multi_col_left .nav-item img {
    width: 25px;
    margin-right: 20px;
}

#multipleOrgModal .modal-dialog {
    max-width: 900px !important;
}

.cus_cntrl {
    width: 380px;
    height: 73px;
    border: solid 1px #eeeeee;
    border-radius: 36px;
    padding: 10px 28px;
    position: relative;
    box-sizing: border-box;
    margin: 0px auto 20px;
    cursor: pointer;
}

.select_icon {
    position: absolute;
    right: 23px;
    top: 34px;
    width: 18px !important;
    opacity: 0.7;
}

.cntrl_thumb {
    float: left;
    width: 45px;
}

.cntrl_thumb img {
    width: 45px;
    float: left;
    margin-top: 10px;
}

.cntrl_info small {
    color: #6d7bfc;
    font-size: 11px;
    float: left;
    width: 100%;
    font-weight: normal;
}

.cntrl_info h5 {
    float: left;
    width: 100%;
    font-size: 15px;
    color: #333333;
    font-weight: 500;
    margin-bottom: 0px;
}

.cntrl_info p {
    float: left;
    width: 100%;
    font-size: 13px;
    color: #333333;
    opacity: 0.7;
    font-weight: normal;
    margin-bottom: 0px;
    line-height: 26px;
}

.cntrl_info {
    float: right;
    width: calc(100% - 65px);
    margin-left: 15px;
}

.cntrl_list {
    /* display: none; */
    border: 1px solid #999999;
    width: 420px;
    height: 260px;
    border-radius: 10px;
    padding: 20px 0px;
    box-sizing: border-box;
    z-index: 2000;
    position: absolute;
    background: #ffffff;
    right: 84px;
}

.cntrl_list_col {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    padding: 4px 40px;
}

.cntrl_list_col:hover {
    background: #5413BB;
    color: #fff;
}

.cntrl_list_col:hover .cntrl_info h5,
.cntrl_list_col:hover .cntrl_info p,
.cntrl_list_col:hover .cntrl_info small {
    color: #fff;
}

.doc_thumb {
    background: #f5f0f0;
    width: 46px;
    height: 44px;
    border-radius: 4px;
    margin-top: 6px;
}


/* .add_hidden {
      margin-top: 70px;
      height: 498px;
  } */

.clg_sts {
    position: absolute;
    right: 17px;
    top: 20px;
    width: 20px;
    height: 20px;
}

.cust_cntrl_block1 {
    height: 130px;
    float: left;
    width: 100%;
    padding-top: 40px;
}

.cust_cntrl_block2 {
    height: 130px;
    float: left;
    width: 100%;
    display: none;
    padding-top: 40px;
}

#add_hidden {
    height: 500px;
    position: absolute;
    bottom: 0px;
}

.add_hidden {
    height: 500px;
    position: absolute;
    bottom: 0px;
}

.multi_col_right .tab-content .container {
    padding-left: 0px;
}

.multi_col_right .nav-item {
    padding-left: 20px;
}

.multi_col_right .nav-item .nav-link {
    background: none !important;
    border: none !important;
    padding: 10px 30px !important;
}

.multi_col_right .nav-item .nav-link.active {
    border-bottom: 4px solid #5413BB !important;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.multi_col_right .nav-tabs {
    padding-left: 40px !important;
}

.semister_col {
    float: left;
    width: 80%;
}

.marks_thumg {
    float: left;
    width: 30px;
}

.marks_thumg img {
    float: left;
    width: 100%;
}

.semister_info {
    float: left;
    width: calc(100% - 60px);
    margin-left: 20px;
}

.semister_info .sem_verified {
    float: left;
    margin-top: 4px;
    font-size: 12px !important;
}

.sem_verified img {
    width: 15px;
    margin-right: 5px;
}

.semister_check_col {
    float: right;
    width: 20%;
}


/* custom check box */

.cus_check_label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cus_check_label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.cus_check_label .checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border: 2px solid #6d7bfc;
    margin-top: 8px;
    border-radius: 4px;
}

.cus_check_label:hover input~.checkmark {
    background-color: #ffffff;
}

.cus_check_label input:checked~.checkmark {
    background-color: #ffffff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.cus_check_label input:checked~.checkmark:after {
    display: block;
}

.cus_check_label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #6d7bfc;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* custom check css end */

.semister_row {
    margin-bottom: 20px;
}

.doc_btn {
    margin-top: 0px !important;
    height: 40px !important;
    font-size: 15px;
    width: 203px !important;
}

.doc_count {
    color: #6d7bfc;
    text-decoration: underline;
}

.tocken_box {
    width: 380px;
    margin: 0px auto;
    border: 1px solid #dee2e6;
    height: 125px;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 4px;
}

.tocken_box img {
    width: 60px;
    position: relative;
    top: -12px;
}

.tockens {
    font-size: 50px;
    color: #333333;
    margin-left: 10px;
}

#paymentInfoModal h5 {
    margin-bottom: 20px;
}

.back_icon {
    position: absolute;
    left: 20px;
    top: 20px;
}

.balance_col {
    float: left;
    width: 50%;
}

.multi_col_right .select2-container {
    width: 380px !important;
    margin: 0px auto 20px;
    display: block !important;
    /* height: 54px !important;
    border: 1px solid #979797 !important;
    border-radius: 32px !important;
    display: block !important; */
    /* opacity: 0.3; */
<<<<<<< HEAD
}

.select2-search--dropdown {
    display: none !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    /* background: #ffffff !important; */
}

.doc_info_sec {}

.continue_col {
    position: absolute;
    bottom: 10px;
}

.tab_info_block {
    height: 380px !important;
    overflow: auto;
}

.profile_public {
    position: relative;
    top: -490px;
}

.box_shadow {
    box-shadow: 0 0 13px 0 rgba(153, 153, 153, 0.13);
}

.skills_sec {
    margin-top: 80px;
}


/* width */

::-webkit-scrollbar {
    width: 6px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f2f2f2;
    /* box-shadow: inset 0 0 5px #424242;  */
    border-radius: 3px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #6d7bfc;
    border-radius: 3px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #6d7bfc;
}

.doc_verify_block {
    float: left;
    width: 100%;
}

.doc_verify_col {
    padding: 0px 50px;
    float: left;
    width: 100%;
}

.doc_verify_col .form-control {
    height: 40px !important;
}

.percentage_col {
    float: left;
    width: 100%;
    border: solid 1px rgba(102, 102, 102, 0.59);
    border-radius: 1px;
}

.percentage_col li {
    float: left;
    width: 50%;
    height: 40px;
    border-radius: 1px;
    color: #666666;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    padding: 5px 0px;
    cursor: pointer;
}

.percentage_col li.active {
    background-color: #6d7bfc;
    color: #fff;
}

.percentage_col li:hover {
    background-color: #6d7bfc;
    color: #fff;
}

.verify_doc_col img {
    float: left;
    width: 55px;
}

.verify_doc_col .verify_doc_label {
    float: left;
    width: calc(100% - 75px);
    margin-left: 20px;
    text-align: center;
    margin-top: 10px;
}

.verify_doc_col .full_width {
    padding: 0px 70px;
}

.verify_doc_col {
    border: solid 2px rgba(242, 240, 240, 0.5);
    border-radius: 2px;
    padding: 20px 0px;
    cursor: pointer;
    margin-top: 10px;
}

.doc_verify_block .submit_col {
    margin-top: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .profile_container {
        width: 100%;
        padding: 0px 20px;
    }
    .profile_block {
        margin: 20px auto;
        float: unset;
        display: block;
        height: 230px;
    }
    .scan_profile_block {
        float: left;
        height: 230px;
        margin-left: 50px;
    }
    .activity_block {
        float: left;
    }
    .profile_header_col {
        height: auto;
    }
    .pprofile_col {
        width: 45%;
    }
    .pprofile_col:nth-child(even) {
        margin-right: 0px;
        float: right;
    }
    .profile_public {
        top: -348px;
    }
    .profile_col {
        width: 46%;
    }
    .profile_col:nth-child(even) {
        margin-right: 0px;
        float: right;
    }
    .pprofile_block img {
        height: auto;
    }
    .unlock_data_col {
        width: 190px;
    }
    .unlock_text {
        font-size: 14px;
    }
    .tab_profile_row {
        margin-bottom: 324px;
    }
    .profile_banner {
        width: 50%;
    }
    .academic_sec .col-md-6 {
        width: 100%;
        max-width: 100%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1023px) {}

@media only screen and (min-width: 1024px) and (max-width: 1300px) {
    .profile_container {
        width: 100%;
        padding: 0px 20px;
        float: left;
    }
    .profile_block {
        width: 500px;
    }
    .pc_menu {
        margin-top: 10px;
    }
    .scan_profile_block {
        margin: 0px 40px;
    }
    .activity_block {}
}

@media only screen and (min-width: 1300px) and (max-width: 1600px) {
    .profile_container {}
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    /* Retina-specific stuff here */
    .profile_container {
        width: 100%;
    }
}

.profile_search_icon {
    position: absolute;
    top: 12px;
    left: 10px;
    width: 12px;
    height: 12px;
}

.profile_dropdown {
    float: right;
    width: auto;
}

.peofile_image {
    float: right;
    cursor: pointer;
}

.profile_bg {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    margin-right: 10px;
}

.profile_drop_icon {
    width: 10px;
    height: 6px;
}

.search_col .autocomplete {
    margin-top: 5px;
    margin-bottom: 0px;
}
.dropdown_menu {
    display: none;
    position: absolute;
    top: 93px;
    width: 155px;
    height: 105px;
    background: #fff;
    padding: 15px 10px;
    right: 10px;
    box-shadow: 0 0 13px 0 rgba(153, 153, 153, 0.13);
    z-index: 9999;
    border-radius: 5px;
}
.menu_row {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.menu_row li {
    list-style: none;
    text-align: center;
    padding: 10px 15px;
    font-size: 14px;
    color: #282d32;
}
.menu_row li img {
    float: left;
}
.uparrow {
    width: 16px;
    height: 10px;
    position: absolute;
    top: -11px;
    right: 15px;
}
.pc_tour_block {
    float: left;
    margin-left: 82px;
}
.pc_tour_btn {
    float: left;
    width: 145px;
    height:30px;
    font-size: 13px;
    color: #333333;
    line-height: 18px;
    text-align: center;
    border: 1px solid #dfe1e5;
    border-radius: 23px;
    background: #ffffff;
    opacity: 0.5;
    padding: 6px 15px;
    margin-top: 8px;
}
.pc_tour_btn img {
    float: left;
}
.tour_col {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.tour_text {
    float: left;
    color: rgba(0, 0, 0, 0.7);
    font-size: 13px;
    margin-left: 15px;
}
.tour_col .tour_icon {
    float: left;
}
.tick_icon {
    float: right;
    cursor: pointer;
}
.tour_col small {
    opacity: 0.5;
    font-size: 13px !important;
    float: left;
}
  .select2-search--dropdown {
      display: none !important;
  }
  .select2-container--default .select2-results__option[aria-selected=true] {
      /* background: #ffffff !important; */
  }

  .month-year-input {
      width: 100% !important;
  }
  .introjs-skipbutton {
      display: none;
  }