html, body {
    width: 100%;
    height: 100%;
    float: left;
    font-size: 14px;
    line-height: 14px;
    color: #3a4451;
    background: #ffffff;
    left: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif !important;
}

.full_width {
    float: left;
    width: 100%;
}

hedaer {
    float: left;
    width: 100%;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

p {
    margin: 0px;
}

button {
    border: none;
}

button:focus {
    border: none;
}

.home_container {
    width: 1180px;
    display: block;
    margin: 0px auto;
}

.logo {
    float: left;
    width: auto;
}

.logo img {}

.footer {
    float: left;
    background: url('../images/footer_banner.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 340px;
}

.media_col {
    float: left;
    width: 100%;
    position: relative;
    top: 195px;
}

.pc_logo {
    float: left;
}

.media_menu {
    float: left;
    width: 100%;
    list-style: none;
    margin-top: 20px;
}

.media_menu li img {
    float: left;
    width: 15px;
    height: 15px;
    margin-right: 15px;
    cursor: pointer;
}

.header {
    position: relative;
    float: left;
    background: url('../images/banner_header.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 717px;
}

.section {
    float: left;
    background: url('../images/header_banner.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.header_row {
    padding: 45px 0px;
}

.pc_menu_col {
    float: right;
    width: auto;
}

.pc_menu {
    float: left;
    width: auto;
    margin: 0px;
}

.pc_menu li {
    float: left;
    width: auto;
    padding: 0px 20px;
    font-size: 16px;
    line-height: 38px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 500;
}

.pc_menu li a {
    color: #fff;
    text-decoration: none;
}

.pc_menu li:last-child {
    margin-right: 30px;
    text-transform: uppercase;
    background: #624BBF;
    border-radius: 6px;
    color: #fff;
}

.login_btn {
    background: #ffffff;
    border-radius: 6px;
    height: 36px;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    color: #141b2c;
    width: 90px;
    float: right;
    cursor: pointer;
}

.login_btn:focus {
    outline: none;
}

.overlay {
    display: none;
}

.opennav {
    display: none;
    float: right;
    color: #ffffff;
}

.banner_left {
    float: left;
    width: 55%;
}

.banner_left img {
    float: left;
    width: 100%;
    /* padding: 80px 80px 0px 0px; */
    padding: 10px;
    position: relative;
    top: 54px;
    right: 45px;
}

.banner_right {
    float: right;
    width: 45%;
    margin-top: 100px;
}

.banner_right p {
    font-size: 18px;
    line-height: 30px;
    color: #ede2e2;
    float: left;
    width: 100%;
    font-weight: normal;
    /* text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); */
    margin-bottom: 30px;
}

.jobque_text {
    float: left;
    width: 100%;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 600;
}

.digital_resume {
    float: left;
    width: 100%;
    font-size: 35px;
    line-height: 60px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
}

.digital_resume b {
    text-decoration: underline;
}

.watch_btn {
    width: 220px;
    float: left;
    color: #4d54fc;
    font-weight: 600;
    font-size: 17px;
    height: 45px;
    border-radius: 22px;
}

.watch_text {
    float: right;
    width: 50%;
    margin-top: 10px;
}

.watch_text img {
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

.watch_text span {
    float: left;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    line-height: 30px;
}

.pc_text {
    font-size: 40px;
    float: left;
    width: 100%;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 1px;
    color: #323c5a;
    text-align: center;
    margin-top: 20px;
}

.pc_info {
    font-size: 17px;
    float: left;
    width: 100%;
    font-weight: normal;
    line-height: 30px;
    color: #323c5a;
    margin-top: 25px;
    margin-bottom: 45px;
    text-align: center;
    letter-spacing: 0.5px;
    padding: 0px 150px;
}

.pc_row {
    float: left;
    width: 100%;
}

.pc_col {
    float: left;
    width: 23%;
    margin-right: 31px;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    height: 381px;
    margin-bottom: 30px;
}

.pc_col:nth-child(4n) {
    margin-right: 0px;
    float: right;
}

.pc_col:last-child {
    /* margin-right: 0px;
    float: right; */
}

.pc_col img {
    float: left;
}

.pc_col .resume {
    width: 62px;
}

.pc_head {
    float: left;
    width: 100%;
    font-size: 22px;
    font-weight: 600;
    color: #3a4451;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pc_content {
    float: left;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    color: #3a4451;
    opacity: 0.5;
    line-height: 24px;
    text-align: left;
    margin-bottom: 0px;
}

.pc_cntent_col {
    float: left;
    width: 520px;
    border-radius: 6px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
    padding: 50px;
    height: 620px;
}

.pc_exp_thumb {
    float: left;
    width: 100%;
    height: 100px;
}

.pc_cntent_col:last-child {
    float: right;
}

.pc_cntent_col img {
    margin: 0px auto;
    width: 226px;
    display: block;
}

.pc_cntent_col .pc_head {
    margin: 45px 20px;
    text-align: center;
}

.pc_cntent_col .pc_content {
    text-align: center;
}

.title {
    float: left;
    width: 100%;
    font-size: 40px;
    font-weight: 600;
    color: #141b2c;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.info {
    float: left;
    width: 100%;
    font-size: 25px;
    font-weight: normal;
    color: #141b2c;
    text-align: center;
    opacity: 0.6;
}

.pc_support_block .nav-tabs {
    border-bottom: none;
    width: 930px;
    margin: 0px auto;
}

.support_left {
    float: left;
    width: 60%;
}

.support_right {
    float: right;
    width: 40%;
}

.pc_support_block .nav-tabs li a {
    border: none;
    padding: 20px 50px;
    font-size: 16px;
    color: #424242;
    font-weight: normal;
    float: left;
    text-decoration: none;
}

.pc_support_block .nav-tabs li a:hover {
    text-decoration: none;
}

.pc_support_block .nav-tabs .nav-link.active {
    border-radius: 5px;
    box-shadow: 0 10px 50px 0 rgba(91, 85, 249, 0.12);
    background-color: #ffffff;
    padding: 20px 50px;
    color: #333333;
    font-weight: 600;
}

.pc_support_block .ui-tabs-active {
    border-radius: 5px;
    box-shadow: 0 10px 50px 0 rgba(91, 85, 249, 0.12);
    background-color: #ffffff;
    /* padding: 20px 50px; */
    color: #333333;
    font-weight: 600;
    float: left;
}

.pc_support_block .ui-tabs-panel {
    float: left;
    width: 100%;
    margin-top: 50px;
}

.pc_support_block .nav-tabs .nav-item.show .nav-link, {
    padding: 20px 50px;
}

.pc_support_block .tab-content {
    float: left;
    width: 100%;
    margin-bottom: 45px;
    margin-top: 45px;
}

.support_right img {
    float: right;
    width: 316px;
}

.pc_support_block .title {
    font-size: 27px;
    line-height: 34px;
    text-align: left;
}

.pc_support_block .info {
    font-size: 20px;
    opacity: 0.8;
    line-height: 40px;
    text-align: left;
    margin-bottom: 30px;
    color: #3a4451;
    letter-spacing: 1px;
}

.pc_support_block .watch_btn {
    border: 2px solid #4d54fc;
    height: 47px;
}

.your_data {
    float: left;
    width: 100%;
    font-size: 20px;
    opacity: 0.9;
    text-align: center;
    line-height: 42px;
    color: #3a4451;
    letter-spacing: 1px;
}

.data_img {
    float: left;
    width: 100%;
    margin-top: 20px;
}

.mobile_banner_right {
    display: none;
    float: left;
    width: 100%;
}

.bio_dat_left {
    float: left;
    width: 60%;
}

.bio_data_right {
    float: right;
    width: 40%;
}

.bio_data_right img {
    float: left;
    width: 100%;
    padding-left: 20px;
    height: 540px;
}

.proile_name {
    font-size: 30px;
    float: left;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #141b2c;
    margin-bottom: 10px;
    margin-top: 15px;
}

.designation {
    font-size: 18px;
    float: left;
    width: 100%;
    text-align: center;
    font-weight: normal;
    color: #141b2c;
    line-height: 30px;
    opacity: 0.6;
}

/* slider css */

div#carousel {
    /* perspective: 1200px;  */
    /* background: #100000;  */
    padding-top: 10%;
    font-size: 0;
    margin-bottom: 3rem;
    overflow: hidden;
    rotation-point: 50% 50%;
    rotation: 180deg;
}

figure#spinner {
    transform-style: preserve-3d;
    height: 385px;
    transform-origin: 50% 50% -500px;
    transition: 1s;
}

figure#spinner .img_col {
    width: 250px;
    position: absolute;
    left: 30%;
    transform-origin: 50% 50% -500px;
    outline: 1px solid transparent;
}

figure#spinner .img_col img {
    float: left;
    width: 100%;
    height: 250px;
    border-radius: 50%;
    border: 1px solid #4d54fc;
}

figure#spinner .img_col:nth-child(1) {
    transform: rotateY(0deg);
}

figure#spinner .img_col:nth-child(2) {
    transform: rotateY(-45deg);
}

figure#spinner .img_col:nth-child(3) {
    transform: rotateY(-90deg);
}

figure#spinner .img_col:nth-child(4) {
    transform: rotateY(-135deg);
}

figure#spinner .img_col:nth-child(5) {
    transform: rotateY(-180deg);
}

figure#spinner .img_col:nth-child(6) {
    transform: rotateY(-225deg);
}

figure#spinner .img_col:nth-child(7) {
    transform: rotateY(-270deg);
}

figure#spinner .img_col:nth-child(8) {
    transform: rotateY(-315deg);
}

div#carousel~span {
    color: #fff;
    margin: 5%;
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    transition: 0.6s color;
    position: relative;
    margin-top: -6rem;
    border-bottom: none;
    line-height: 0;
}

div#carousel~span:hover {
    color: #888;
    cursor: pointer;
}

.ss-icon {
    color: #4d54fc !important;
}

/* end  */

/* banner */

.banner_row {
    float: left;
    width: 100%;
    background: #356ad2;
    padding: 20px 40px;
    position: relative;
    box-sizing: border-box;
}

.banner_row p {
    float: left;
    width: auto;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
    font-weight: 600;
    margin: 0px;
    z-index: 1;
    margin-right: 20px;
    margin-top: 7px;
}

.close_banner {
    position: absolute;
    right: 20px;
    top: 15px;
    color: #c14745;
    cursor: pointer;
    font-size: 20px;
    width: auto;
    z-index: 99;
}

.addto_btn {
    float: left;
    width: auto;
    border-radius: 15px;
    background: #fff;
    border: 1px solid #ffffff;
    color: #424242;
    text-align: center;
    padding: 5px 10px;
    cursor: pointer;
}

.pc_support_block {
    margin-top: 30px;
}

.pc_flow {
    float: left;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 40px;
}

#pcchain_flow {
    margin: 0px auto;
    display: none;
    width: auto;
}
#pcflowwithout{
    display: block;
    margin: 0px auto;
    width: 100%;
}

/* toggle switch start css */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 44px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 2px;
    bottom: 7px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-image: linear-gradient(71deg, #5137b8, #eb74e7 99%, #ec74e7);
}

input:focus+.slider {
    background-color: #d8d8d8;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* toggle switch css end */

.pc_community_block {
    background: url('../images/pc_banner_abount.jpg');
    background-size: 100% 100%;
    height: 698px;
    width: 100%;
    object-fit: contain;
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-bottom: 30px;
}

.pc_offers_bg {
    float: left;
    width: 100%;
    height: 103px;
}

.pc_offers_bg img {
    float: left;
    width: 100%;
    border-radius: 10px;
}

.pc_offers_block {
    float: left;
    width: 31%;
    margin-right: 35px;
    height: auto;
    padding-bottom: 30px;
    border-radius: 6px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;

}

.pc_offers_block:last-child {
    margin-right: 0px;
}

.pc_offers_sec {
    padding: 0px 60px;
}

.pc_offer_thumb {
    width: 100px;
    height: 100px;
    margin: 0px auto;
    display: table;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    top: -50px;
}

.pc_offer_thumb img {
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin: 0px;
}

.pc_community_block .pc_chead {
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 40px;
    float: left;
    width: 100%;
}

.pc_community_block .pc_cinfo {
    float: left;
    width: 100%;
    font-size: 25px;
    font-weight: normal;
    color: #ffffff;
    opacity: 0.6;
    margin-top: 20px;
    margin-bottom: 50px;
}

.pc_offers_block h6 {
    float: left;
    width: 100%;
    text-align: center;
    color: #3a4451;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: -20px;
    text-transform: uppercase;
}

.pc_offers_block p {
    float: left;
    width: 100%;
    text-align: center;
    color: #3a4451;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
    padding: 0px 30px;
    opacity: 0.5;
    min-height: 100px;
}
.pc_community_btn {
    width: 180px;
    margin: 0px auto;
    height: 35px;
    background: #ffffff;
    border: 2px solid #7955c8;
    color: #7955c8;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    border-radius: 17px;
    display: block;
    cursor: pointer;
}
.add_pc .pc_offer_thumb {
    top: 0px;
    display: block;
}
.add_pc h6 {
    margin-top: 30px;
}
.add_pc {
    padding-top: 50px;
}
.add_pc .pc_offer_thumb {
    background: unset;
}
/***************** media quries for mobile devices *************/

@media only screen and (max-width: 767px) {
    /************************ mobile menu navigation css ****************/
    .overlay {
        overflow-y: auto;
    }
    .overlay a {
        font-size: 20px;
        display: block;
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
    .overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        overflow-y: hidden;
        transition: 0.5s;
        display: block;
    }
    .overlay-content {
        position: relative;
        top: 10%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }
    .overlay .closebtn {
        position: absolute;
        top: -12px;
        right: 10px;
        font-size: 50px;
    }
    .demo_form {
        width: 100%;
        padding: 10px;
    }
    .demo_form_block {
        position: unset;
        padding: 20px 0px;
    }
    .send_btn {
        width: 100%;
    }
    .demo_head {
        font-size: 30px;
        line-height: 40px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .demo_info {
        font-size: 16px;
    }
    .demo_banner, .thankyou_banner {
        height: auto;
    }
    .thankyou_banner .demo_head {
        margin-top: 20px;
    }
    .back_to {
        margin-top: 20px;
        margin-bottom: 20px
    }
    .pc_menu_col {
        display: none;
    }
    .pc_menu {
        width: 100%;
    }
    .login_btn {
        display: none;
    }
    .home_container {
        width: 90%;
    }
    .header {
        height: 28%;
        background-size: 100%;
    }
    .header_row {
        padding: 10px 0px;
    }
    .opennav {
        display: block;
    }
    .pc_menu li {
        width: 100%;
    }
    /******************* end  ********************/
    .logo img {
        margin-top: 10px;
    }
    .pc_col {
        width: 100%;
        margin-right: 0px;
        box-sizing: border-box;
    }
    .pc_text {
        font-size: 36px;
        line-height: 50px;
        width: 100%;
    }
    .pc_support_block .nav-tabs {
        width: 100%
    }
    .support_left, .support_right {
        width: 100%;
    }
    .pc_cntent_col {
        width: 100%;
        padding: 10px;
        height: auto
    }
    .mobile_banner_right {
        display: block;
        padding: 0px 15px;
        box-sizing: border-box;
    }
    .banner_right, .banner_left {
        display: none;
    }
    .pc_support_block .title {
        font-size: 20px;
        text-align: center;
        margin-top: 0px;
    }
    .pc_support_block .info {
        font-size: 14px;
        line-height: 30px;
        text-align: center;
    }
    .pc_cntent_col:last-child {
        margin-top: 20px;
    }
    .mobile_banner_right .jobque_text {
        color: #3a4451;
        text-align: center;
        margin-top: 0px;
    }
    .mobile_banner_right .digital_resume {
        color: #3a4451;
        text-align: center;
        font-size: 22px;
        line-height: 36px;
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .mobile_banner_right .watch_btn {
        width: 100%;
        display: block;
        border: 2px solid #4d54fc;
    }
    .mobile_banner_right .watch_text span {
        width: 100%;
        color: #3a4451;
        text-align: center;
    }
    .watch_text {
        width: 100%
    }
    .footer {
        height: 27%;
        margin-top: 25px;
    }
    .pc_info {
        font-size: 20px;
        margin: 15px 0px;
        padding: 0px;
    }
    .title {
        font-size: 30px;
        line-height: 30px;
    }
    .pc_cntent_col .pc_head {
        margin: 20px 0px;
    }
    .bio_dat_left {
        width: 100%;
        display: none;
    }
    .bio_data_right {
        width: 100%
    }
    .bio_data_right img {
        padding-left: 0px;
    }
    .support_right img {
        width: 100%;
    }
    .pc_support_block .ui-tabs-tab {
        float: left;
        width: 100%;
        text-align: center;
    }
    .pc_support_block .nav-tabs li a {
        padding: 20px;
        text-align: center;
        width: 100%;
    }
    .pc_flow img {
        width: 100% !important;
        float: left;
    }
    .pc_offers_sec {
        padding: 0px 10px;
        box-sizing: border-box;
    }
    .pc_community_block {
        background-size: auto;
        height: auto;
    }
    .pc_offers_block {
        width: 100%;
        margin-bottom: 30px;
        height: auto;
        padding-bottom: 30px;
        margin-right: 0px;
    }
    .pc_community_block .pc_chead {
        float: left;
        width: 100%;
        line-height: 40px;
        text-align: center;
        margin-bottom: 20px;
    }
    .pc_offers_block p {
        box-sizing: border-box;
        line-height: 30px;
    }
    .pc_community_block .pc_cinfo {
        text-align: center;
        width: 100%;
    }
    .mobile_banner img {
        /* margin-top: -160px; */
        /* position: relative;
        bottom: 120px; */
    }
    .pc_col .resume {
        margin: 0px auto;
        display: block;
        float: unset;
    }
    .mobile_banner {
        position: relative;
        bottom: 88px;
    }
}

/* media quries for ipad  */

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    /* .header {height: 44%;} */
    .home_container {
        width: 100%;
        padding: 0px 24px;
    }
    .banner_left {
        width: 50%
    }
    .banner_right {
        width: 47%;
        margin-top: 60px;
    }
    .pc_cntent_col {
        width: 100%
    }
    .pc_cntent_col:last-child {
        margin-top: 25px;
    }
    .pc_col {
        width: 50%;
        margin-bottom: 20px;
        margin-right: 10px;
    }
    /* .footer {height: 100%;} */
    .banner_left img {
        top: 0px;
    }
    .digital_resume {
        font-size: 26px;
        line-height: 48px;
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .header {
        height: 100% !important;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1399px) {
    .banner_left {
        width: 50%;
    }
    .banner_left img {
        left: 0px;
        top: 20px;
    }
}
